In [1]:
import os
# os.chdir('/home/ec2-user/SageMaker/Nuvei dataset card processing/Cascading')
os.getcwd()
import numpy as np
import pandas as pd
pd.set_option('display.float_format', '{:.2f}'.format)
pd.set_option('display.max_columns', None)

In [ ]:
raw_data= pd.read_parquet('cln_2023-12-01_2023-12-31_raw.parquet')

In [ ]:
# dates_list = ['2023-11-01', '2023-11-02']
# # dates_list = ['2023-11-01']

# dataframes_list = [pd.read_parquet(f'BusinessAnalyticsQuery_raw_data_{curr_date}.parquet') for curr_date in dates_list]
# raw_data = pd.concat(dataframes_list, ignore_index=True)

In [7]:
raw_data.shape

(251686010, 62)

# Data cleaning and processing

In [8]:
## adding flag of 3ds and non-3d tranasction
filtered_transaction_ids = raw_data[raw_data['authentication_flow'].isin(['frictionless', 'challenge'])]['transaction_id_life_cycle']

# Create a new column 'is_auth_3d_flag' indicating whether each row's transaction_id_life_cycle is in the list
raw_data['is_auth_3d_flag'] = np.where(raw_data['transaction_id_life_cycle'].isin(filtered_transaction_ids), '3d', 'non-3d')


# for cvv cascading all I need is the auth/sale txns
cvv_cas_rel_data = raw_data[raw_data.transaction_type_id.isin(['1000','1007'])]

#there is no Approved_Amount_in_USD in *auth* so i am doing that manually
cvv_cas_rel_data['approved_amount_in_usd'] = np.where(cvv_cas_rel_data.final_transaction_status=='1',cvv_cas_rel_data.amount_in_usd,np.nan)

len(cvv_cas_rel_data)

/tmp/ipykernel_25732/1875163533.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cvv_cas_rel_data['approved_amount_in_usd'] = np.where(cvv_cas_rel_data.final_transaction_status=='1',cvv_cas_rel_data.amount_in_usd,np.nan)

124292197

In [9]:
# creating two datasets that will take place in creating the reports
cvv_txns = cvv_cas_rel_data[cvv_cas_rel_data.scenario_id.isin(['8','9'])]
pot_cvv_txns = cvv_cas_rel_data[cvv_cas_rel_data.step.isna()] #this way I look only at payments that are not included in any(!) cascading feature.

In [10]:
cvv_txns.shape

(552650, 62)

In [11]:
# noticed that there are duplicated rows- dropping duplicates
cvv_txns.drop_duplicates(inplace=True)
pot_cvv_txns.drop_duplicates(inplace=True)

/tmp/ipykernel_25732/1891836416.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cvv_txns.drop_duplicates(inplace=True)
/tmp/ipykernel_25732/1891836416.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pot_cvv_txns.drop_duplicates(inplace=True)

In [12]:
# creating the list of lifecycles that repeat the feature more than once, so I could remove them
drop_lc_list = cvv_txns[cvv_txns.step==1].groupby('transaction_id_life_cycle').filter(lambda x:len(x)>=2).transaction_id_life_cycle.unique()

In [51]:
drop_lc_list

array([], dtype=object)

In [13]:
# dropping the rows that have the lifecycles that repeat more than once in the feature.
cvv_txns = cvv_txns[~cvv_txns.transaction_id_life_cycle.isin(drop_lc_list)]

In [14]:
cvv_txns.shape, pot_cvv_txns.shape

((552650, 62), (122558092, 62))

In [15]:
# cvv_txns.transaction_id_life_cycle.nunique()

In [16]:
cvv_first_attempt=cvv_txns[cvv_txns['step']=='0']
cvv_second_attempt=cvv_txns[cvv_txns['step']=='1']

In [17]:
cvv_txns.shape, pot_cvv_txns.shape

((552650, 62), (122558092, 62))

In [18]:
cvv_first_attempt.shape, cvv_second_attempt.shape

((276325, 62), (276325, 62))

# skipping this part

In [15]:
# There are 8,179 payments with two auth attempts that for some reason get different lifecycles, so it creates ~16,000 unique lifecycles.
# The following steps are to drop them from the data sets of the reports:
# 1. left and right join the data sets of first and second attempts to two new dataframes (names start with "test_") - to identify the lifecycles I need to drop in both of them
# 2. Identifing the lifecycles that dont join in both joins and put them in lists
# 3. drop them from my datasets of the report

In [38]:
# 1.
test_step_1=pd.merge(cvv_first_attempt, cvv_second_attempt, on='transaction_id_life_cycle',how='left')
test_step_0=pd.merge(cvv_first_attempt, cvv_second_attempt, on='transaction_id_life_cycle',how='right')

In [39]:
# 2.Identifing the lifecycles that dont join in both joins and put them in lists
lc_to_selete_from_cvv_first_attempt = test_step_1[test_step_1.transaction_main_id_y.isna()]['transaction_id_life_cycle'].unique()
lc_to_selete_from_cvv_second_attempt = test_step_0[test_step_0.transaction_main_id_x.isna()]['transaction_id_life_cycle'].unique()

In [40]:
# 3. dropping the rows that have the lifecycles that changes in the next step of the feature
cvv_first_attempt = cvv_first_attempt[~cvv_first_attempt.transaction_id_life_cycle.isin(lc_to_selete_from_cvv_first_attempt)]
cvv_second_attempt = cvv_second_attempt[~cvv_second_attempt.transaction_id_life_cycle.isin(lc_to_selete_from_cvv_second_attempt)]

In [41]:
# also dropping these lifecycles from the originial cvv dataframe, because I rely on it after
cvv_txns = cvv_txns[~cvv_txns.transaction_id_life_cycle.isin(lc_to_selete_from_cvv_first_attempt)]
cvv_txns = cvv_txns[~cvv_txns.transaction_id_life_cycle.isin(lc_to_selete_from_cvv_second_attempt)]

In [42]:
# checking that it worked as expected-YES

In [43]:
cvv_first_attempt.transaction_id_life_cycle.nunique()

15265

In [44]:
cvv_second_attempt.transaction_id_life_cycle.nunique()

15265

In [45]:
cvv_txns.shape, pot_cvv_txns.shape

((30534, 116), (8504211, 116))

# start again here

In [19]:
# create a dataset that have txns that are not(!) in the feature but belong to clients that are configured to the feature - to caclualte the denominator.
all_txns_rel_clients = pot_cvv_txns[pot_cvv_txns['client_id'].isin(cvv_txns['client_id'])]

# creating a dataset of payments that belong to clients that are not(!) configured to the feature
all_txns_other_clients = pot_cvv_txns[~pot_cvv_txns['client_id'].isin(cvv_second_attempt['client_id'])]

In [20]:
len(all_txns_other_clients)

82268349

In [21]:
#save the datasets, so we could start from this point next time
all_txns_rel_clients.to_parquet('Dec reports/all_txns_rel_clients_dec_23_new.parquet')
cvv_second_attempt.to_parquet('Dec reports/cvv_second_attempt_dec_23_new.parquet')
all_txns_other_clients.to_parquet('Dec reports/all_txns_other_clients_dec23_new.parquet')

In [ ]:
del(raw_data)

# Start from here after the above was completed once

In [83]:
# for the following part I need 3 dataframes: "all_txns_rel_clients", "cvv_second_attempt" and "pot_cvv_txns"
all_txns_rel_clients= pd.read_parquet('all_txns_rel_clients_oct_23_new.parquet')
cvv_second_attempt = pd.read_parquet('cvv_second_attempt_oct_23_new.parquet')
all_txns_other_clients= pd.read_parquet('all_txns_other_clients_october23_new.parquet')

FileNotFoundError: [Errno 2] No such file or directory: 'all_txns_rel_clients_oct_23_new.parquet'

## First sheet- cvv cascading clients

In [ ]:
# work process:
# 1. creating columns that are based on the payments that are not(!!) in the feature of the clients that are configured to the feature
# 2. creating columns that are based only on the feature payments
# 3. joining them by multi client id
# 4. add the number of feature payments on top of the rest of the payments of the clients
# 5. creating more columns based on all columns- percentages between them
# 6. arranging column order

In [22]:
# 1.
# creating the needed pivot for txns that are not in the feature but belong to clients that are configured to it
report_pivot_multiclient = all_txns_rel_clients.pivot_table(index = ['multi_client_id','multi_client_name','source_application'],
                         values = ['amount_in_usd','approved_amount_in_usd'], aggfunc = ('count', 'sum'))

# flattening the column headers
report_pivot_multiclient.columns = report_pivot_multiclient.columns.to_series().str.join('_')

# creating additional needed columns
report_pivot_multiclient['#_3ds_&_failed_auth'] = report_pivot_multiclient['amount_in_usd_count'] - report_pivot_multiclient['approved_amount_in_usd_count']
report_pivot_multiclient['$_3ds_&_failed_auth'] = report_pivot_multiclient['amount_in_usd_sum'] - report_pivot_multiclient['approved_amount_in_usd_sum']
# report_pivot_multiclient['%_failed_auth_by_#'] = report_pivot_multiclient['#_3ds_&_failed_auth'] / report_pivot_multiclient['amount_in_usd_count']
# report_pivot_multiclient['%_failed_auth_by_$'] = report_pivot_multiclient['$_3ds_&_failed_auth'] / report_pivot_multiclient['amount_in_usd_sum']

# dropping columns that I dont need (used them above)
report_pivot_multiclient.drop(['approved_amount_in_usd_count','approved_amount_in_usd_sum'],axis='columns', inplace=True)

# renaming columns
report_pivot_multiclient = report_pivot_multiclient.rename(columns={"amount_in_usd_count": "#_3ds", "amount_in_usd_sum": "$_3ds"})

report_pivot_multiclient = report_pivot_multiclient.reset_index()
report_pivot_multiclient.sort_values(by = 'multi_client_id').head(6)

,multi_client_id,multi_client_name,source_application,#_3ds,$_3ds,#_3ds_&_failed_auth,$_3ds_&_failed_auth
0,10190,mca multi,web cashier,771,224600.49,151,66111.75
1,10473,fxnet multi,web cashier,94,124226.52,11,41578.47
2,10497,bpg s.r.l multi,web sdk,47068,1922709.66,3676,179875.45
3,10557,trading point multi,ppp cc,248,74431.85,77,40266.82
4,10557,trading point multi,web cashier,3433,996220.86,960,340620.18
5,10730,digital distribution multi,php sdk,5991,530399.84,615,78096.92

In [23]:
# Pivot table 
report_pivot_multiclient_cvv = cvv_second_attempt.pivot_table(
    index=['multi_client_id','source_application'],
    values = ['amount_in_usd','approved_amount_in_usd'], aggfunc = ('count', 'sum')
)

# Flattening the column headers
report_pivot_multiclient_cvv.columns = report_pivot_multiclient_cvv.columns.to_series().str.join('_')

# Renaming columns
report_pivot_multiclient_cvv = report_pivot_multiclient_cvv.rename(
    columns={"amount_in_usd_count": "#_sent_to_feature", "amount_in_usd_sum": "$_sent_to_feature",
             "approved_amount_in_usd_count": "#_recovered", "approved_amount_in_usd_sum": "$_recovered"}
)

# Resetting index
report_pivot_multiclient_cvv = report_pivot_multiclient_cvv.reset_index()


# Conversion rate columns
report_pivot_multiclient_cvv['recovery_rate_by_#'] = report_pivot_multiclient_cvv['#_recovered'] / report_pivot_multiclient_cvv['#_sent_to_feature']
report_pivot_multiclient_cvv['recovery_rate_by_$'] = report_pivot_multiclient_cvv['$_recovered'] / report_pivot_multiclient_cvv['$_sent_to_feature']

# Finding the minimum date for each 'multi_client_id'
min_date_df = cvv_second_attempt[cvv_second_attempt['scenario_id'].isin(['8', '9'])].groupby('multi_client_id')['transaction_date'].min().reset_index()
min_date_df = min_date_df.rename(columns={"transaction_date": "feature_enabled_date"})
# Merging the two dataframes on 'multi_client_id'
report_pivot_multiclient_cvv = pd.merge(report_pivot_multiclient_cvv, min_date_df, on='multi_client_id')

# Display the final dataframe
report_pivot_multiclient_cvv.sort_values(by = 'multi_client_id').head(6)

,multi_client_id,source_application,#_sent_to_feature,$_sent_to_feature,#_recovered,$_recovered,recovery_rate_by_#,recovery_rate_by_$,feature_enabled_date
0,10190,web cashier,55,12718.97,48,10656.40,0.87,0.84,2023-12-01 11:48:57.700
1,10473,web cashier,2,2492.81,2,2492.81,1.00,1.00,2023-12-11 16:42:35.350
2,10497,web sdk,210,9071.13,75,2875.49,0.36,0.32,2023-12-01 00:20:01.840
3,10557,web cashier,64,46661.11,27,20877.99,0.42,0.45,2023-12-01 08:43:26.547
4,10730,web sdk,211,20436.65,120,11800.06,0.57,0.58,2023-12-01 04:04:57.443
5,11192,web sdk fields,45,63420.58,41,58645.50,0.91,0.92,2023-12-03 16:34:44.283

In [24]:
# 3.joining them by multi client id
conf_clients_report = pd.merge(report_pivot_multiclient, report_pivot_multiclient_cvv, on=['multi_client_id','source_application'] ,how='inner')


# 4.add the number of feature payments on top of the payments that are not in the feature, to get the number of the payments of the client
conf_clients_report['#_3ds'] = conf_clients_report['#_3ds'] + conf_clients_report['#_sent_to_feature']
conf_clients_report['$_3ds'] = conf_clients_report['$_3ds'] + conf_clients_report['$_sent_to_feature']
conf_clients_report['#_3ds_&_failed_auth'] = conf_clients_report['#_3ds_&_failed_auth'] + conf_clients_report['#_sent_to_feature']
conf_clients_report['$_3ds_&_failed_auth'] = conf_clients_report['$_3ds_&_failed_auth'] + conf_clients_report['$_sent_to_feature']

conf_clients_report['%_failed_auth_by_#'] = conf_clients_report['#_3ds_&_failed_auth'] / conf_clients_report['#_3ds']
conf_clients_report['%_failed_auth_by_$'] = conf_clients_report['$_3ds_&_failed_auth'] / conf_clients_report['$_3ds']

# 5.creating more columns based on all columns- percentages between them
conf_clients_report['%_sent_to_feature_by_#'] = conf_clients_report['#_sent_to_feature'] / conf_clients_report['#_3ds_&_failed_auth']
conf_clients_report['%_sent_to_feature_by_$'] = conf_clients_report['$_sent_to_feature'] / conf_clients_report['$_3ds_&_failed_auth']

# 6.rearranging columns order
arranged_col =['multi_client_id', 'multi_client_name','feature_enabled_date',
        '#_3ds', '$_3ds', '#_3ds_&_failed_auth', '$_3ds_&_failed_auth',
       '%_failed_auth_by_#', '%_failed_auth_by_$', '#_sent_to_feature',
       '$_sent_to_feature', '%_sent_to_feature_by_#',
       '%_sent_to_feature_by_$', '#_recovered', '$_recovered', 'recovery_rate_by_#',
       'recovery_rate_by_$']

conf_clients_report = conf_clients_report[arranged_col]
conf_clients_report = conf_clients_report.sort_values('#_3ds', ascending=False)
conf_clients_report.sort_values(by = 'multi_client_id').head(6)

,multi_client_id,multi_client_name,feature_enabled_date,#_3ds,$_3ds,#_3ds_&_failed_auth,$_3ds_&_failed_auth,%_failed_auth_by_#,%_failed_auth_by_$,#_sent_to_feature,$_sent_to_feature,%_sent_to_feature_by_#,%_sent_to_feature_by_$,#_recovered,$_recovered,recovery_rate_by_#,recovery_rate_by_$
0,10190,mca multi,2023-12-01 11:48:57.700,826,237319.46,206,78830.72,0.25,0.33,55,12718.97,0.27,0.16,48,10656.40,0.87,0.84
1,10473,fxnet multi,2023-12-11 16:42:35.350,96,126719.33,13,44071.28,0.14,0.35,2,2492.81,0.15,0.06,2,2492.81,1.00,1.00
2,10497,bpg s.r.l multi,2023-12-01 00:20:01.840,47278,1931780.79,3886,188946.58,0.08,0.10,210,9071.13,0.05,0.05,75,2875.49,0.36,0.32
3,10557,trading point multi,2023-12-01 08:43:26.547,3497,1042881.97,1024,387281.29,0.29,0.37,64,46661.11,0.06,0.12,27,20877.99,0.42,0.45
4,10730,digital distribution multi,2023-12-01 04:04:57.443,12796,984104.67,1510,136984.32,0.12,0.14,211,20436.65,0.14,0.15,120,11800.06,0.57,0.58
5,11192,rank interactive multi,2023-12-03 16:34:44.283,2286305,63201399.36,124042,3338110.47,0.05,0.05,45,63420.58,0.00,0.02,41,58645.50,0.91,0.92

In [ ]:
conf_clients_report.head(10)

In [100]:
raw_data

,transaction_main_id,transaction_date,transaction_id_life_cycle,transaction_date_life_cycle,transaction_type_id,transaction_type,transaction_result_id,final_transaction_status,3d_flow_status,challenge_preference,preference_reason,authentication_flow,3d_flow,is_void,liability_shift,status,acs_url,acs_res_authentication_status,r_req_authentication_status,transaction_status_reason,interaction_counter,challenge_cancel,three_ds_method_indication,is_sale_3d,manage_3d_decision,decline_reason,amount_in_usd,approved_amount_in_usd,original_currency_amount,rate_usd,currency_code,three_ds_protocol_version,is_external_mpi,rebill,device_channel,user_agent_3d,device_type,device_name,device_os,challenge_window_size,type_of_authentication_method,multi_client_id,client_id,multi_client_name,client_name,industry_code,credit_card_id,cccid,bin,is_prepaid,card_scheme,card_type,consumer_id,issuer_bank_name,device_channel_name,bin_country,is_eea,region,payment_instrument,source_application,is_partial_amount,enable_partial_approval,partial_approval_is_void,partial_approval_void_id,partial_approval_void_time,partial_approval_requested_amount,partial_approval_requested_currency,partial_approval_processed_amount,partial_approval_processed_currency,partial_approval_processed_amount_in_usd,website_id,browser_user_agent,ip_country,processor_id,processor_name,risk_email_id,is_currency_converted,email_seniority_start_date,email_payment_attempts,final_fraud_decision_id,external_token_eci,risk_threed_eci,threed_eci,cvv_code,provider_response_code,issuer_card_program_ID,scenario_id,previous_id,next_id,step,reprocess_3D_reason,data_only_authentication_result,is_cascaded_after_data_only_authentication,next_action,authentication_method,cavv_verification_code,Channel,authentication_request,authentication_response,cc_hash,exp_date,message_version_3d,cc_seniority_start_date,mc_scheme_token_used,is_sale_3d_auth_3d,manage_3d_decision_auth_3d,init_status,auth_3d_status,sale_status,auth_status,settle_status,verify_auth_3d_status,is_successful_challenge,is_successful_3ds,is_successful_auth,is_auth_3d_flag
0,2130000003660691878,2023-10-31 23:59:30.067,2130000003660691878,2023-10-31 23:59:30.067,1007,auth,1006,1,None,no_preference,12,None,None,false,false,None,None,None,None,None,NaN,None,None,None,None,None,0.61,NaN,0.50,1.21,gbp,None,false,false,None,deprecated,unknown,None,None,None,None,16849,20391,nayax europe uab (pf) - uk multi,nayax uk,5499,1130000000292165825,1,449332,false,visa,debit,248581739,barclays bank uk plc,None,gb,true,west europe,cc,direct cc,None,None,None,None,NaT,NaN,None,NaN,None,NaN,None,None,None,103,nuvei acquirer - visa,0,false,2012-06-13 11:57:56.653,0.00,3,None,7,None,None,00,vis,None,None,None,None,None,None,false,None,None,None,3,deprecated,deprecated,d67fe102c83abf3270128a1d4531c41ff9e5e112,730,None,2023-08-26 16:48:44.750,false,None,None,None,None,None,true,None,None,false,None,true,non-3d
1,2110000000007651142,2023-10-31 23:59:30.067,2110000000007651128,2023-10-31 23:59:27.527,1000,sale,1006,1,None,no_preference,12,None,None,false,true,None,None,None,None,None,NaN,None,None,false,true,None,10.59,10.59,10.00,1.06,eur,2,false,false,None,deprecated,1,apple iphone,ios 1.0,None,None,10578,10568,admiral sport s.r.l multi,admiral sport s.r.l- managed,7995,796971274,2,526430,true,mastercard,debit,2110000000000698021,unicredit spa,None,it,true,west europe,cc,ppp cc,false,true,false,None,NaT,NaN,None,NaN,None,NaN,184298,None,it,99,nuvei acquirer - mastercard,1073682711,false,2016-02-05 22:20:38.680,0.00,3,None,2,None,m,00,mcc,None,None,None,None,None,None,false,None,None,None,1,deprecated,deprecated,64866d5faf302db174f564af26de15aee556d3f1,1124,None,2021-09-17 14:32:16.720,true,None,None,None,None,true,None,None,None,false,None,true,non-3d
2,2130000003660691880,2023-10-31 23:59:30.130,2130000003660691880,2023-10-31 23:59:30.130,1000,sale,1006,1,None,no_preference,12,None,None,false,true,None,None,None,None,None,NaN,None,None,false,true,None,18.22,18.22,15.00,1.21,gbp,2,true,false,None,deprecated,4,None,None,None,None,251001253,251001254,leovegas - leovegas uk multi,leovegas uk ltd - betmgm.co.uk,7995,1120000000005457908,1,492181,false,visa,debit,1120000000036507713,lloyds bank plc,None,gb,true,west europe,cc,safecharge rest api,None,None,None,None,NaT,NaN,None,NaN,None,NaN,252408,None,gb,103,nuvei acquirer - visa,1206890617,false,2022-03-18 12:09:51.833,0.00,3,None,5,None,None,00,vis,None,None,None,None,None,None,false,None,f,2,1,deprecated,deprecated,ac1a63e217fbccc5ebbf53fae0978b2efce22193,526,None,2023-02-12 16:36:25.277,false,None,None,None,None,true,None,None,None,false,None,true,non-3d
3,2130000003660691882,2023-10-31 23:59:30.137,2130000003660691882,2023-10-31 23:59:30.137,1032,initauth3d,1006,1,None,no_preference,12,None,None,false,false,10,None,None,None,None,NaN,None,None,false,false,None,6.82,NaN,32.00,0.21,ron,2,false,false,None,deprecated,1,apple iphone,ios 1.0,None,None,16821,16820,superbet romania (superbet group) multi,superbet interactive (romania) limited- managed,7995,2130000000563162530,2,535456,false,mastercard,debit,2130000000729751927,revolut ltd,None,ro,true,east europe,cc,web cashier,None,None,None,None,NaT,NaN,None,NaN,None,NaN,172498,None,None,99,nuvei acquirer - mastercard,None,false,NaT,NaN,None,None,None,None,None,None,dmc,None,None,None,None,None,None,false,None,None,None,1,deprecated,deprecated,60921367e158a42cd62b68f17ca45002318d19cb,126,2.2.0,2021-02-28 19:50:11.997,false,None,None,true,None,None,None,None,None,false,None,None,non-3d
4,2130000003660691884,2023-10-31 23:59:30.147,2130000003660691884,2023-10-31 23:59:30.147,1000,sale,1006,1,None,y_requested_by_acquirer,8,None,None,false,true,None,None,None,None,None,NaN,None,None,false,true,None,12.15,12.15,10.00,1.21,gbp,1,true,false,None,deprecated,4,None,None,None,None,2331,135004100,wh (direct) whg multi,888 wh direct mng,7995,2130000000445442984,2,537244,false,mastercard,debit,1130000000284094686,national westminster bank plc,None,gb,true,west europe,apple pay,safecharge rest api,None,None,None,None,NaT,NaN,None,NaN,None,NaN,219778,None,gb,99,nuvei acquirer - mastercard,1058752027,false,2014-11-12 17:25:46.287,0.00,3,None,2,None,None,00,dmc,None,None,None,None,None,None,false,None,None,None,1,deprecated,deprecated,9863b90f9ffc03040b56c6a2218761211861d57e,826,None,2023-07-18 10:12:58.967,false,None,None,None,None,true,None,None,None,false,None,true,non-3d
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17242796,1120000000184779451,2023-11-02 23:59:59.940,1120000000184779451,2023-11-02 23:59:59.940,1032,initauth3d,1006,1,3d_success,no_preference,12,challenge,1,false,false,40,https://verify.monzo.com/3ds2/challenge,c,y,None,1.00,None,u,false,true,None,10.67,NaN,50.00,0.21,ron,2,false,false,2,deprecated,1,generic android 2.0,android 2.0,5,3,16821,16820,superbet romania (superbet group) multi,superbet interactive (romania) limited- managed,7995,1120000000033573295,2,535522,false,mastercard,debit,1120000000044067114,monzo bank limited,browser,gb,true,west europe,cc,web cashier,None,None,None,None,NaT,NaN,None,NaN,None,NaN,172498,mozilla/5.0 (linux; android 10; k) applewebkit...,None,99,nuvei acquirer - mastercard,None,false,NaT,NaN,None,None,None,2,None,None,dmc,None,None,None,None,None,None,false,None,None,None,1,deprecated,deprecated,b47f29cb1e5efa0fdf68b2449c4fce98fbcfdc7c,626,2.2.0,2023-06-08 21:40:19.180,false,None,None,true,None,None,None,None,None,true,true,None,3d
17242797,1120000000184779452,2023-11-02 23:59:59.950,1120000000184779312,2023-11-02 23:59:58.973,1019,auth3d,1006,1,None,no_preference,0,None,None,false,false,None,None,None,None,None,NaN,None,None,true,true,None,158.99,NaN,150.00,1.06,eur,2,false,false,None,deprecated,4,None,None,None,None,135000071,135000072,bifinity uab multi,bifinity uab,6051,1120000000033573296,2,537541,false,mastercard,debit,1120000000044067115,"jsc ""universal bank""",None,ua,false,east europe,cc,safecharge rest api,None,None,None,None,NaT,NaN,None,NaN,None,NaN,190168,None,None,99,nuvei acquirer - mastercard,None,false,NaT,NaN,None,None,None,None,None,None,dmc,None,None,None,None,None,None,false,1,None,None,1,deprecated,deprecated,208776477f3af4ddcc71c8e99f57aa371c13cc01,1024,None,2022-01-26 23:48:30.080,false,true,true,None,true,None,None,None,None,false,None,None,3d
17242798,1110000000004985995,2023-11-02 23:59:59.970,1110000000004985995,2023-11-02 23:59:59.970,1007,auth,1006,1,None,no_preference,0,None,None,false,false,None,None,None,None,None,NaN,None,None,false,false,None,0.00,NaN,0.00,1.22,gbp,None,false,false,None,deprecated,4,None,None,None,None,251001268,251001269,webloyalty sarl - completesavings.co.uk multi,webloyalty sarl - completesavings.co.uk,5968,1110000000000439185,1,481513,false,visa,credit,1110000000000332934,china everbright bank,None,cn,false,asia,cc,.net sdk,None,None,None,None,NaT,NaN,None,NaN,None,NaN,252508,None,gb,103,nuvei acquirer - visa,1240620468,false,NaT,0.00,3,None,7,None,None,85,vis,None,None,None,None,None,None,false,None,None,None,1,deprecated,deprecated,2bcde2c41aa16aee6bcdb325e0a91a80e2828577,724,None,NaT,false,None,None,None,None,None,true,None,None,false,None,true,non-3d
17242799,1120000000184779454,2023-11-02 23:59:59.980,1120000000184779454,2023-11-02 23:59:59.980,1032,initauth3d,1006,1,None,no_preference,12,None,None,false,false,10,None,None,None,None,NaN,None,None,false,false,None,47.66,NaN,47.66,1.00,usd,2,false,false,None,deprecated,4,None,None,None,None,151003955,151003956,shein us services llc multi,shein us services llc,5699,1120000000033573297,2,544544,true,mastercard,debit,1120000000044067116,"sunrise banks, national associ",None,us,false,north america,cc,safecharge rest api,None,None,None,None,NaT,NaN,None,NaN,None,NaN,265486,None,None,304,nuvei na wells fargo,None,false,NaT,NaN,None,None,None,None,None,None,dmc,None,None,None,None,None,None,false,None,None,None,1,deprecated,deprecated,15b94fc2dfea281619a310d76c3248d979bbca12,426,2.2.0,2023-08-30 01:10:06.173,false,None,None,true,None,None,None,None,None,false,None,None,non-3d
17242800,1120000000184779455,2023-11-02 23:59:59.993,1120000000184779455,2023-11-02 23:59:59.993,1032,initauth3d,1006,1,None,no_preference,12,None,None,false,false,10,None,None,None,None,NaN,None,None,false,false,None,1.69,NaN,1.59,1.06,eur,2,false,false,None,deprecated,unknown,None,None,None,None,151002671,151002672,whaleco technology ltd multi,whaleco technology ltd - temu,5399,2130000000437013011,1,497355,false,visa,debit,248581739,societe generale s.a.,None,fr,true,west europe,cc,safecharge rest api,None,None,None,None,NaT,NaN,None,NaN,None,NaN,249268,None,None,103,nuvei acquirer - visa,None,false,NaT,NaN,None,None,None,None,None,None,vis,None,None,None,None,None,None,false,None,None,None,1,deprecated,deprecated,17ee7fbf102e3a8d031961140bdcc1c5af78357d,1224,2.2.0,2023-07-12 20:56:20.710,false,None,None,true,None,None,None,None,None,false,None,None,non-3d

## Second sheet- Potential cvv cascading clients

In [61]:
# work process:
# 0. Calculating month recovery rate of the feature by $ and by #

# 1. adding a field of amount in usd when the payment is potential to the feature (means it applies to all feature filters)
# 2. creating the dataframe of non-configured clients to show their potential
# 3. rearrangeing column
# columns:
# '#_3ds', '$_3ds', '#_3ds_&_failed_auth', '$_3ds_&_failed_auth', '%_failed_auth_by_#', '%_failed_auth_by_$',
# '#_potential_to_feature','$_potential_to_feature', '%_potential_to_feature_by_#','%_potential_to_feature_by_$'
# '#_potential_recovered','$_potential_recovered'

In [25]:
# Calculating month recovery rate of the feature by $ and by #
monthly_recovery_rate_by_count = cvv_second_attempt[cvv_second_attempt['transaction_result_id']=='1006'].transaction_main_id.count()\
/cvv_second_attempt.transaction_main_id.count()
monthly_recovery_rate_by_sum = cvv_second_attempt['approved_amount_in_usd'].sum()/cvv_second_attempt['amount_in_usd'].sum()
print(monthly_recovery_rate_by_sum,monthly_recovery_rate_by_count)

0.5870766922990238 0.7657359992762146

In [26]:
# 1.
all_txns_other_clients_with_amount_potential_feature = all_txns_other_clients

# creating the relevant filter for next line (for some reason it returned error if I had line spaces, so it's all in one row)
potential_filter = (all_txns_other_clients.transaction_result_id!='1006') & (((all_txns_other_clients.cccid.isin(['2','11'])) & (all_txns_other_clients.cvv_code=='n') & (all_txns_other_clients.cccid.notna()) & (all_txns_other_clients.cvv_code.notna())) | ((all_txns_other_clients.cccid=='1') & (all_txns_other_clients.provider_response_code=='N7') & (all_txns_other_clients.cccid.notna()) & (all_txns_other_clients.provider_response_code.notna())))
# creating the new column
all_txns_other_clients_with_amount_potential_feature['amount_in_usd_potential_to_feature']  = np.where(potential_filter, all_txns_other_clients.amount_in_usd,np.nan)

# all_txns_other_clients_with_amount_potential_feature['amount_in_usd_potential_to_feature'] = all_txns_other_clients[potential_filter]['amount_in_usd']

# printing the payments that are potential to feature
all_txns_other_clients_with_amount_potential_feature[~all_txns_other_clients_with_amount_potential_feature.amount_in_usd_potential_to_feature.isna()].head()

/tmp/ipykernel_25732/2371910998.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_txns_other_clients_with_amount_potential_feature['amount_in_usd_potential_to_feature']  = np.where(potential_filter, all_txns_other_clients.amount_in_usd,np.nan)

,transaction_main_id,transaction_date,transaction_id_life_cycle,transaction_date_life_cycle,transaction_result_id,final_transaction_status,transaction_type_id,transaction_type,3d_flow_status,card_scheme,card_type,client_id,multi_client_id,multi_client_name,client_name,amount_in_usd,approved_amount_in_usd,decline_reason,transaction_status_reason,processor_name,industry_code,cccid,is_sale_3d,currency_code,issuer_bank_name,payment_instrument,bin_country,ip_country,is_external_mpi,source_application,auth_status,auth_3d_status,threed_eci,cvv_code,provider_response_code,scenario_id,previous_id,next_id,step,challenge_preference,preference_reason,authentication_flow,device_channel,init_status,sale_status,settle_status,is_successful_auth,is_successful_3ds,device_type,manage_3d_decision,is_currency_converted,verify_auth_3d_status,consumer_id,rebill,data_only_authentication_result,status,acs_url,region,is_eea,mc_scheme_token_used,date,is_auth_3d_flag,amount_in_usd_potential_to_feature
6298,2130000003844851621,2023-12-01 00:00:24.833,2130000003844851114,2023-12-01 00:00:21.783,1008,0,1000,sale,None,mastercard,debit,135002913,135002912,gamart limited (novibet) multi,gamart limited,8.96,NaN,security violation,None,nuvei acquirer - mastercard,7995,2,false,eur,piraeus bank s.a.,cc,gr,gr,false,web cashier,None,None,None,n,63,None,None,None,None,no_preference,12,None,None,None,false,None,false,None,1,true,false,None,2130000000776049176,false,None,None,None,west europe,true,false,2023-12-01,3d,8.96
7112,2130000003844852735,2023-12-01 00:00:31.913,2130000003844852735,2023-12-01 00:00:31.913,1008,0,1000,sale,None,mastercard,debit,20703,20702,vgw malta limited multi,vgw malta limited,20.00,NaN,security violation,None,nuvei acquirer - mastercard,7994,2,false,usd,customers bank,cc,us,us,false,safecharge rest api,None,None,None,n,63,None,None,None,None,no_preference,12,None,None,None,false,None,false,None,4,false,false,None,1120000000063807995,false,None,None,None,north america,false,false,2023-12-01,non-3d,20.00
7487,2130000003844853273,2023-12-01 00:00:34.833,2130000003844852748,2023-12-01 00:00:31.927,1008,0,1000,sale,None,mastercard,debit,135002913,135002912,gamart limited (novibet) multi,gamart limited,10.90,NaN,security violation,None,nuvei acquirer - mastercard,7995,2,false,eur,national bank of greece s.a.,cc,gr,gr,false,web cashier,None,None,None,n,63,None,None,None,None,no_preference,12,None,None,None,false,None,false,None,1,true,false,None,2130000000776049925,false,None,None,None,west europe,true,true,2023-12-01,3d,10.90
7635,2130000003844853535,2023-12-01 00:00:36.007,2130000003844851306,2023-12-01 00:00:22.813,1008,0,1000,sale,None,mastercard,debit,135002913,135002912,gamart limited (novibet) multi,gamart limited,10.90,NaN,security violation,None,nuvei acquirer - mastercard,7995,2,false,eur,eurobank ergasias s.a.,cc,gr,gr,false,web cashier,None,None,None,n,63,None,None,None,None,no_preference,12,None,None,None,false,None,false,None,1,true,false,None,2130000000776049234,false,None,None,None,west europe,true,true,2023-12-01,3d,10.90
8969,2130000003844855296,2023-12-01 00:00:46.573,2130000003844855296,2023-12-01 00:00:46.573,1008,0,1000,sale,None,mastercard,debit,3951,3945,888 vdsl limited multi,888 vdsl ltd - aib direct managed,15.26,NaN,invalid merchant,None,aibms-direct payment,7995,2,false,eur,revolut ltd,cc,ie,ie,false,direct cc,None,None,None,n,03,None,None,None,None,y_requested_by_acquirer,15,None,None,None,false,None,false,None,4,false,false,None,2130000000581470647,false,None,None,None,west europe,true,false,2023-12-01,non-3d,15.26

In [27]:
# creating functions as a workaround, because my next calculations fail on divide by zero
def calc_percentage_by_volume(df):
    """
    Calculates the percentage by volume based on the provided DataFrame.

    """
    if df['$_3ds_&_failed_auth'] > 0:
        percentage_by_volume = df['amount_in_usd_potential_to_feature_sum'] / df['$_3ds_&_failed_auth']
    else:
        percentage_by_volume = np.nan

    return percentage_by_volume

    
def calc_percentage_by_count(df):
    """
    Calculates the percentage by count based on the provided DataFrame.
    """
    if df['#_3ds_&_failed_auth'] > 0:
        percentage_by_count = df['amount_in_usd_potential_to_feature_count'] / df['#_3ds_&_failed_auth']
    else:
        percentage_by_count = np.nan

    return percentage_by_count

def calc_percentage_failed_auth_by_dollar(df):
    """
    Calculates the percentage of failed authentication attempts by dollar amount based on the provided DataFrame.

    """
    if df['amount_in_usd_sum'] > 0:
        percentage_failed_auth_by_dollar = df['$_3ds_&_failed_auth'] / df['amount_in_usd_sum']
    else:
        percentage_failed_auth_by_dollar = np.nan

    return percentage_failed_auth_by_dollar

In [28]:
# 2.
pot_report_pivot_multiclient = all_txns_other_clients_with_amount_potential_feature.pivot_table(index = ['multi_client_id','multi_client_name','source_application'],
                         values = ['amount_in_usd','approved_amount_in_usd','amount_in_usd_potential_to_feature'], aggfunc = ('count', 'sum'))

# flattening the column headers
pot_report_pivot_multiclient.columns = pot_report_pivot_multiclient.columns.to_series().str.join('_')

# creating additional needed columns
pot_report_pivot_multiclient['#_3ds_&_failed_auth'] = pot_report_pivot_multiclient['amount_in_usd_count'] - pot_report_pivot_multiclient['approved_amount_in_usd_count']
pot_report_pivot_multiclient['$_3ds_&_failed_auth'] = pot_report_pivot_multiclient['amount_in_usd_sum'] - pot_report_pivot_multiclient['approved_amount_in_usd_sum']
pot_report_pivot_multiclient['%_failed_auth_by_#'] = pot_report_pivot_multiclient['#_3ds_&_failed_auth'] / pot_report_pivot_multiclient['amount_in_usd_count']
pot_report_pivot_multiclient['%_failed_auth_by_$'] =pot_report_pivot_multiclient.apply(calc_percentage_failed_auth_by_dollar,axis=1)

# pot_report_pivot_multiclient['%_potential_to_feature_by_#'] =np.where(pot_report_pivot_multiclient['#_3ds_&_failed_auth']==0, np.NaN, pot_report_pivot_multiclient['amount_in_usd_potential_to_feature_count'] / pot_report_pivot_multiclient['#_3ds_&_failed_auth'])
pot_report_pivot_multiclient['%_potential_to_feature_by_#'] = pot_report_pivot_multiclient.apply(calc_percentage_by_count,axis=1)
pot_report_pivot_multiclient['%_potential_to_feature_by_$'] = pot_report_pivot_multiclient.apply(calc_percentage_by_volume,axis=1)

pot_report_pivot_multiclient['#_potential_recovered'] = pot_report_pivot_multiclient['amount_in_usd_potential_to_feature_count'] * monthly_recovery_rate_by_count
pot_report_pivot_multiclient['$_potential_recovered'] = pot_report_pivot_multiclient['amount_in_usd_potential_to_feature_sum'] * monthly_recovery_rate_by_sum


# dropping columns that I dont need (used them above)
pot_report_pivot_multiclient.drop(['approved_amount_in_usd_count','approved_amount_in_usd_sum'],axis='columns', inplace=True)

# renaming columns
pot_report_pivot_multiclient = pot_report_pivot_multiclient.rename(columns={"amount_in_usd_count": "#_3ds", "amount_in_usd_sum": "$_3ds", "amount_in_usd_potential_to_feature_count":"#_potential_to_feature", "amount_in_usd_potential_to_feature_sum":"$_potential_to_feature"})

pot_report_pivot_multiclient = pot_report_pivot_multiclient.reset_index()

# 3.
pot_arranged_col = ['multi_client_id', 'multi_client_name','source_application', '#_3ds',
       '$_3ds', '#_3ds_&_failed_auth', '$_3ds_&_failed_auth', '%_failed_auth_by_#',
       '%_failed_auth_by_$','#_potential_to_feature', '$_potential_to_feature', '%_potential_to_feature_by_#',
       '%_potential_to_feature_by_$', '#_potential_recovered',
       '$_potential_recovered']

pot_report_pivot_multiclient = pot_report_pivot_multiclient[pot_arranged_col]

# sorting the dataframe by $_potential_recovered
pot_report_pivot_multiclient = pot_report_pivot_multiclient.sort_values('$_potential_recovered', ascending=False)
pot_report_pivot_multiclient.sort_values(by = 'multi_client_id').head(20)

,multi_client_id,multi_client_name,source_application,#_3ds,$_3ds,#_3ds_&_failed_auth,$_3ds_&_failed_auth,%_failed_auth_by_#,%_failed_auth_by_$,#_potential_to_feature,$_potential_to_feature,%_potential_to_feature_by_#,%_potential_to_feature_by_$,#_potential_recovered,$_potential_recovered
0,10357,teletrade multi,web cashier,22,5756.76,2,430.36,0.09,0.07,0,0.00,0.00,0.00,0.00,0.00
1,10497,bpg s.r.l multi,web sdk,8,0.08,1,0.01,0.12,0.12,0,0.00,0.00,0.00,0.00,0.00
3,10578,admiral sport s.r.l multi,web cashier,403,171033.67,37,21060.78,0.09,0.12,1,538.24,0.03,0.03,0.77,315.99
2,10578,admiral sport s.r.l multi,ppp cc,138879,6948783.39,11503,876301.37,0.08,0.13,597,33307.15,0.05,0.04,457.14,19553.85
4,10600,henyep multi,safecharge rest api,177,102738.55,80,55645.04,0.45,0.54,3,2609.06,0.04,0.05,2.30,1531.72
5,10647,hf markets (europe) ltd multi,ppp cc,73,97671.84,12,16119.77,0.16,0.17,0,0.00,0.00,0.00,0.00,0.00
6,10724,axi financial services (uk) limited multi,web cashier,21,19006.58,1,51.55,0.05,0.00,0,0.00,0.00,0.00,0.00,0.00
7,11164,triton capital markets ltd multi,web cashier,1673,1980726.33,986,1281208.33,0.59,0.65,0,0.00,0.00,0.00,0.00,0.00
8,11192,rank interactive multi,web cashier,1,24.93,1,24.93,1.00,1.00,0,0.00,0.00,0.00,0.00,0.00
9,11683,jfd brokers ltd. multi,web cashier,21,29894.15,5,7979.43,0.24,0.27,0,0.00,0.00,0.00,0.00,0.00
10,11769,backweb multi,direct cc,1315,101351.46,124,7875.97,0.09,0.08,4,402.00,0.03,0.05,3.06,236.00
11,12003,ladbrokes direct (en) multi,safecharge rest api,2807104,70171398.75,167979,4536675.55,0.06,0.06,25634,687765.12,0.15,0.15,19628.88,403770.87
12,12768,colmex pro limited multi,safecharge rest api,155,165650.12,88,116476.34,0.57,0.70,5,3178.00,0.06,0.03,3.83,1865.73
13,13258,nsfx limited multi,web cashier,231,324636.76,98,128710.55,0.42,0.40,6,7551.26,0.06,0.06,4.59,4433.17
14,13482,tecnologia en entretemiento multi,web cashier,5361305,251100935.01,1363996,97898574.44,0.25,0.39,0,0.00,0.00,0.00,0.00,0.00
15,135000004,now to play game sucursal en espana multi,ppp cc,1525,38460.34,361,13509.48,0.24,0.35,3,157.98,0.01,0.01,2.30,92.75
16,135000023,roof-maker ltd multi,control panel paylink,26,123448.41,3,18238.89,0.12,0.15,0,0.00,0.00,0.00,0.00,0.00
17,135000023,roof-maker ltd multi,vpos,107,452885.25,35,155934.08,0.33,0.34,1,3652.77,0.03,0.02,0.77,2144.46
18,135000025,seven publishing group limited (judo) multi,safecharge rest api,244,10234.27,21,965.54,0.09,0.09,0,0.00,0.00,0.00,0.00,0.00
19,135000027,sonaga tech ltd multi,safecharge rest api,143762,2763318.92,63032,1333388.36,0.44,0.48,274,995.13,0.00,0.00,209.81,584.22

In [71]:
pot_report_pivot_multiclient[pot_report_pivot_multiclient['multi_client_id'] == '16849']

,multi_client_id,multi_client_name,source_application,#_3ds,$_3ds,#_3ds_&_failed_auth,$_3ds_&_failed_auth,%_failed_auth_by_#,%_failed_auth_by_$,#_potential_to_feature,$_potential_to_feature,%_potential_to_feature_by_#,%_potential_to_feature_by_$,#_potential_recovered,$_potential_recovered
892,16849,nayax europe uab (pf) - uk multi,direct cc,894408,1681834.09,22473,66480.35,0.03,0.04,2,5.49,0.00,0.00,1.49,3.37

## Third sheet- configured client, by bin and CC

In [23]:
# work process:
# 1. creating columns that are based on the payments that are not(!!) in the feature of the clients that are configured to the feature
# 2. creating columns that are based only on the feature payments
# 3. joining them by multi client id
# 4. add the number of feature payments on top of the rest of the payments of the clients
# 5. creating more columns based on all columns- percentages between them
# 6. arranging column order

In [29]:
# 1.
# creating the needed pivot for txns that are not in the feature but belong to clients that are configured to it
report_pivot_multiclient_by_bin = all_txns_rel_clients.pivot_table(index = ['bin_country'],
                         values = ['amount_in_usd','approved_amount_in_usd'], aggfunc = ('count', 'sum'))

# flattening the column headers
report_pivot_multiclient_by_bin.columns = report_pivot_multiclient_by_bin.columns.to_series().str.join('_')

# creating additional needed columns
report_pivot_multiclient_by_bin['#_3ds_&_failed_auth'] = report_pivot_multiclient_by_bin['amount_in_usd_count'] - report_pivot_multiclient_by_bin['approved_amount_in_usd_count']
report_pivot_multiclient_by_bin['$_3ds_&_failed_auth'] = report_pivot_multiclient_by_bin['amount_in_usd_sum'] - report_pivot_multiclient_by_bin['approved_amount_in_usd_sum']
# report_pivot_multiclient['%_failed_auth_by_#'] = report_pivot_multiclient['#_3ds_&_failed_auth'] / report_pivot_multiclient['amount_in_usd_count']
# report_pivot_multiclient['%_failed_auth_by_$'] = report_pivot_multiclient['$_3ds_&_failed_auth'] / report_pivot_multiclient['amount_in_usd_sum']

# dropping columns that I dont need (used them above)
report_pivot_multiclient_by_bin.drop(['approved_amount_in_usd_count','approved_amount_in_usd_sum'],axis='columns', inplace=True)

# renaming columns
report_pivot_multiclient_by_bin = report_pivot_multiclient_by_bin.rename(columns={"amount_in_usd_count": "#_3ds", "amount_in_usd_sum": "$_3ds"})

report_pivot_multiclient_by_bin = report_pivot_multiclient_by_bin.reset_index()
report_pivot_multiclient_by_bin

    bin_country  #_3ds       $_3ds  #_3ds_&_failed_auth  $_3ds_&_failed_auth
0            ad   2951   527228.74                 1293            281820.30
1            ae  25801 16226612.10                 7599           7706030.87
2            af      7      828.53                    6               632.01
3            ag    345    52609.55                  115             12341.34
4            ai     89    19689.72                   30             11934.62
..          ...    ...         ...                  ...                  ...
199          ye     10     3672.91                    7              1769.53
200          za  21147  2769224.99                17174           2241994.90
201          zm    591   167423.85                  399            126013.45
202          zw    189    72591.57                  103             31290.63
203          zz      5    40576.00                    1             10000.00

[204 rows x 5 columns]

In [30]:
##2.
# Pivot table 
report_pivot_bin_cvv = cvv_second_attempt.pivot_table(
    index=['bin_country'],
    values = ['amount_in_usd','approved_amount_in_usd'], aggfunc = ('count', 'sum')
)

# Flattening the column headers
report_pivot_bin_cvv.columns = report_pivot_bin_cvv.columns.to_series().str.join('_')

# Renaming columns
report_pivot_bin_cvv = report_pivot_bin_cvv.rename(
    columns={"amount_in_usd_count": "#_sent_to_feature", "amount_in_usd_sum": "$_sent_to_feature",
             "approved_amount_in_usd_count": "#_recovered", "approved_amount_in_usd_sum": "$_recovered"}
)

# Resetting index
report_pivot_bin_cvv = report_pivot_bin_cvv.reset_index()


# Conversion rate columns
report_pivot_bin_cvv['recovery_rate_by_#'] = report_pivot_bin_cvv['#_recovered'] / report_pivot_bin_cvv['#_sent_to_feature']
report_pivot_bin_cvv['recovery_rate_by_$'] = report_pivot_bin_cvv['$_recovered'] / report_pivot_bin_cvv['$_sent_to_feature']


# Display the final dataframe
report_pivot_bin_cvv

,bin_country,#_sent_to_feature,$_sent_to_feature,#_recovered,$_recovered,recovery_rate_by_#,recovery_rate_by_$
0,ad,40,18425.56,33,17059.20,0.82,0.93
1,ae,249,113014.06,182,49127.20,0.73,0.43
2,ag,2,840.00,1,440.00,0.50,0.52
3,ai,5,1150.00,0,0.00,0.00,0.00
4,al,208,22805.86,126,13089.13,0.61,0.57
...,...,...,...,...,...,...,...
150,vg,1,20.00,1,20.00,1.00,1.00
151,vn,93,42366.18,36,15863.62,0.39,0.37
152,xk,99,2403.76,68,1575.01,0.69,0.66
153,za,580,150860.93,33,9348.19,0.06,0.06
154,zm,2,2320.00,1,2300.00,0.50,0.99

In [31]:
# 3.joining them by multi client id
conf_clients_report_by_bin = pd.merge(report_pivot_multiclient_by_bin, report_pivot_bin_cvv, on=['bin_country'] ,how='inner')

#4
conf_clients_report_by_bin['%_failed_auth_by_#'] = conf_clients_report_by_bin['#_3ds_&_failed_auth'] / conf_clients_report_by_bin['#_3ds']
conf_clients_report_by_bin['%_failed_auth_by_$'] = conf_clients_report_by_bin['$_3ds_&_failed_auth'] / conf_clients_report['$_3ds']

# 5.creating more columns based on all columns- percentages between them
conf_clients_report_by_bin['%_sent_to_feature_by_#'] = conf_clients_report_by_bin['#_sent_to_feature'] / conf_clients_report_by_bin['#_3ds_&_failed_auth']
conf_clients_report_by_bin['%_sent_to_feature_by_$'] = conf_clients_report_by_bin['$_sent_to_feature'] / conf_clients_report_by_bin['$_3ds_&_failed_auth']

# 6.rearranging columns order
arranged_col_bin =['bin_country',
        '#_3ds', '$_3ds', '#_3ds_&_failed_auth', '$_3ds_&_failed_auth',
       '%_failed_auth_by_#', '%_failed_auth_by_$', '#_sent_to_feature',
       '$_sent_to_feature', '%_sent_to_feature_by_#',
       '%_sent_to_feature_by_$', '#_recovered', '$_recovered', 'recovery_rate_by_#',
       'recovery_rate_by_$',
                 #  'feature_enabled_date'
                  ]

conf_clients_report_by_bin = conf_clients_report_by_bin[arranged_col_bin]
conf_clients_report_by_bin = conf_clients_report_by_bin.sort_values('#_3ds', ascending=False)
conf_clients_report_by_bin

,bin_country,#_3ds,$_3ds,#_3ds_&_failed_auth,$_3ds_&_failed_auth,%_failed_auth_by_#,%_failed_auth_by_$,#_sent_to_feature,$_sent_to_feature,%_sent_to_feature_by_#,%_sent_to_feature_by_$,#_recovered,$_recovered,recovery_rate_by_#,recovery_rate_by_$
50,gb,12529341,473599031.50,839438,54454295.35,0.07,6.05,28339,2054218.03,0.03,0.04,24361,1496200.28,0.86,0.73
120,ro,9678931,274450868.78,760240,27224127.90,0.08,0.49,53496,1974806.63,0.07,0.07,44044,1544791.71,0.82,0.78
70,it,8165742,374180738.50,620690,51341089.58,0.08,10.49,87403,4654457.15,0.14,0.09,70504,3520070.01,0.81,0.76
46,es,1149771,78245896.00,165217,21912155.32,0.14,3.27,5649,496805.57,0.03,0.02,3725,274427.75,0.66,0.55
15,bg,913119,40271936.23,114277,7180297.85,0.13,6.77,12662,817507.03,0.11,0.11,9045,408304.97,0.71,0.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,gu,102,4961.52,45,3552.73,0.44,0.05,2,45.76,0.04,0.01,0,0.00,0.00,0.00
3,ai,89,19689.72,30,11934.62,0.34,0.01,5,1150.00,0.17,0.10,0,0.00,0.00,0.00
51,gd,81,33594.59,52,14476.50,0.64,0.08,2,899.95,0.04,0.06,1,274.95,0.50,0.31
148,vc,50,17243.82,33,5216.46,0.66,0.04,3,86.00,0.09,0.02,0,0.00,0.00,0.00
150,vg,49,18842.34,32,13244.96,0.65,0.01,1,20.00,0.03,0.00,1,20.00,1.00,1.00

## Fourth sheet- configured client, by CC, split by 3d

In [32]:
# 1.
# creating the needed pivot for txns that are not in the feature but belong to clients that are configured to it
report_pivot_multiclient_by_cc = all_txns_rel_clients.pivot_table(index = ['card_scheme','is_auth_3d_flag'],
                         values = ['amount_in_usd','approved_amount_in_usd'], aggfunc = ('count', 'sum'))

# flattening the column headers
report_pivot_multiclient_by_cc.columns = report_pivot_multiclient_by_cc.columns.to_series().str.join('_')

# creating additional needed columns
report_pivot_multiclient_by_cc['#_3ds_&_failed_auth'] = report_pivot_multiclient_by_cc['amount_in_usd_count'] - report_pivot_multiclient_by_cc['approved_amount_in_usd_count']
report_pivot_multiclient_by_cc['$_3ds_&_failed_auth'] = report_pivot_multiclient_by_cc['amount_in_usd_sum'] - report_pivot_multiclient_by_cc['approved_amount_in_usd_sum']
# report_pivot_multiclient['%_failed_auth_by_#'] = report_pivot_multiclient['#_3ds_&_failed_auth'] / report_pivot_multiclient['amount_in_usd_count']
# report_pivot_multiclient['%_failed_auth_by_$'] = report_pivot_multiclient['$_3ds_&_failed_auth'] / report_pivot_multiclient['amount_in_usd_sum']

# dropping columns that I dont need (used them above)
report_pivot_multiclient_by_cc.drop(['approved_amount_in_usd_count','approved_amount_in_usd_sum'],axis='columns', inplace=True)

# renaming columns
report_pivot_multiclient_by_cc = report_pivot_multiclient_by_cc.rename(columns={"amount_in_usd_count": "#_3ds", "amount_in_usd_sum": "$_3ds"})

report_pivot_multiclient_by_cc = report_pivot_multiclient_by_cc.reset_index()
report_pivot_multiclient_by_cc

,card_scheme,is_auth_3d_flag,#_3ds,$_3ds,#_3ds_&_failed_auth,$_3ds_&_failed_auth
0,amex,3d,1353,1499095.61,284,233144.76
1,amex,non-3d,21321,3578131.99,7330,1585765.18
2,cup,3d,841,36534.40,478,15729.87
3,cup,non-3d,50,44347.83,49,44311.96
4,diners,3d,216,53731.82,72,18283.25
5,diners,non-3d,1538,151838.57,587,54041.46
6,discover,3d,1252,511431.24,937,407155.41
7,discover,non-3d,3900,316666.10,1419,147698.55
8,invalid,3d,15,703.42,15,703.42
9,invalid,non-3d,2110,93051.82,2110,93051.82
10,jcb,non-3d,9,6330.05,9,6330.05
11,maestro,3d,154143,7221939.01,21117,1950942.38
12,maestro,non-3d,4463,1804580.76,1781,1236728.17
13,mastercard,3d,7634390,521013545.20,661818,119081532.31
14,mastercard,non-3d,8748098,308565705.21,793814,50721462.18
15,visa,3d,6674323,645947060.52,748573,190235520.55
16,visa,non-3d,17041721,616130800.02,1801372,120106610.55

In [33]:
##2.
# Pivot table 
report_pivot_card_scheme_cvv = cvv_second_attempt.pivot_table(
    index=['card_scheme','is_auth_3d_flag'],
    values = ['amount_in_usd','approved_amount_in_usd'], aggfunc = ('count', 'sum')
)

# Flattening the column headers
report_pivot_card_scheme_cvv.columns = report_pivot_card_scheme_cvv.columns.to_series().str.join('_')

# Renaming columns
report_pivot_card_scheme_cvv = report_pivot_card_scheme_cvv.rename(
    columns={"amount_in_usd_count": "#_sent_to_feature", "amount_in_usd_sum": "$_sent_to_feature",
             "approved_amount_in_usd_count": "#_recovered", "approved_amount_in_usd_sum": "$_recovered"}
)

# Resetting index
report_pivot_card_scheme_cvv = report_pivot_card_scheme_cvv.reset_index()


# Conversion rate columns
report_pivot_card_scheme_cvv['recovery_rate_by_#'] = report_pivot_card_scheme_cvv['#_recovered'] / report_pivot_card_scheme_cvv['#_sent_to_feature']
report_pivot_card_scheme_cvv['recovery_rate_by_$'] = report_pivot_card_scheme_cvv['$_recovered'] / report_pivot_card_scheme_cvv['$_sent_to_feature']


# Display the final dataframe
report_pivot_card_scheme_cvv

,card_scheme,is_auth_3d_flag,#_sent_to_feature,$_sent_to_feature,#_recovered,$_recovered,recovery_rate_by_#,recovery_rate_by_$
0,maestro,3d,6481,289043.75,5151,198166.51,0.79,0.69
1,maestro,non-3d,8,139.19,1,10.90,0.12,0.08
2,mastercard,3d,133103,11514160.39,96041,6534250.29,0.72,0.57
3,mastercard,non-3d,14628,1112306.22,10765,417655.70,0.74,0.38
4,visa,3d,107385,10474853.74,87129,6368541.37,0.81,0.61
5,visa,non-3d,14720,926929.93,12505,757573.49,0.85,0.82

In [34]:
# 3.joining them by multi client id
conf_clients_report_by_card_and_3d = pd.merge(report_pivot_multiclient_by_cc, report_pivot_card_scheme_cvv, on=['card_scheme','is_auth_3d_flag'] ,how='inner')
#4
conf_clients_report_by_card_and_3d['%_failed_auth_by_#'] = conf_clients_report_by_card_and_3d['#_3ds_&_failed_auth'] / conf_clients_report_by_card_and_3d['#_3ds']
conf_clients_report_by_card_and_3d['%_failed_auth_by_$'] = conf_clients_report_by_card_and_3d['$_3ds_&_failed_auth'] / conf_clients_report_by_card_and_3d['$_3ds']

# 5.creating more columns based on all columns- percentages between them
conf_clients_report_by_card_and_3d['%_sent_to_feature_by_#'] = conf_clients_report_by_card_and_3d['#_sent_to_feature'] / conf_clients_report_by_card_and_3d['#_3ds_&_failed_auth']
conf_clients_report_by_card_and_3d['%_sent_to_feature_by_$'] = conf_clients_report_by_card_and_3d['$_sent_to_feature'] / conf_clients_report_by_card_and_3d['$_3ds_&_failed_auth']

# 6.rearranging columns order
arranged_col_cc =['card_scheme','is_auth_3d_flag',
        '#_3ds', '$_3ds', '#_3ds_&_failed_auth', '$_3ds_&_failed_auth',
       '%_failed_auth_by_#', '%_failed_auth_by_$', '#_sent_to_feature',
       '$_sent_to_feature', '%_sent_to_feature_by_#',
       '%_sent_to_feature_by_$', '#_recovered', '$_recovered', 'recovery_rate_by_#',
       'recovery_rate_by_$',
                 #  'feature_enabled_date'
                  ]

conf_clients_report_by_card_and_3d = conf_clients_report_by_card_and_3d[arranged_col_cc]
conf_clients_report_by_card_and_3d = conf_clients_report_by_card_and_3d.sort_values('#_recovered', ascending=False)
conf_clients_report_by_card_and_3d

,card_scheme,is_auth_3d_flag,#_3ds,$_3ds,#_3ds_&_failed_auth,$_3ds_&_failed_auth,%_failed_auth_by_#,%_failed_auth_by_$,#_sent_to_feature,$_sent_to_feature,%_sent_to_feature_by_#,%_sent_to_feature_by_$,#_recovered,$_recovered,recovery_rate_by_#,recovery_rate_by_$
2,mastercard,3d,7634390,521013545.20,661818,119081532.31,0.09,0.23,133103,11514160.39,0.20,0.10,96041,6534250.29,0.72,0.57
4,visa,3d,6674323,645947060.52,748573,190235520.55,0.11,0.29,107385,10474853.74,0.14,0.06,87129,6368541.37,0.81,0.61
5,visa,non-3d,17041721,616130800.02,1801372,120106610.55,0.11,0.19,14720,926929.93,0.01,0.01,12505,757573.49,0.85,0.82
3,mastercard,non-3d,8748098,308565705.21,793814,50721462.18,0.09,0.16,14628,1112306.22,0.02,0.02,10765,417655.70,0.74,0.38
0,maestro,3d,154143,7221939.01,21117,1950942.38,0.14,0.27,6481,289043.75,0.31,0.15,5151,198166.51,0.79,0.69
1,maestro,non-3d,4463,1804580.76,1781,1236728.17,0.40,0.69,8,139.19,0.00,0.00,1,10.90,0.12,0.08

In [35]:
!pip install xlsxwriter

Looking in indexes: https://jfrog.readonly%40simplex.com:****@simplex.jfrog.io/simplex/api/pypi/py-simplex-virtual/simple
Collecting xlsxwriter
  Downloading https://simplex.jfrog.io/simplex/api/pypi/py-simplex-virtual/packages/packages/f7/3e/05ba2194cd5073602422859c949a4f21310a3c49bf8dccde9e03d4522b11/XlsxWriter-3.1.9-py3-none-any.whl (154 kB)
      154.8/154.8 kB 1.6 MB/s eta 0:00:00a 0:00:01
Installing collected packages: xlsxwriter
Successfully installed xlsxwriter-3.1.9

In [36]:
# Create an Excel writer object
writer = pd.ExcelWriter('cvv_cascading_clients_Dec_23.xlsx', engine='xlsxwriter')
## export to excel:
conf_clients_report.to_excel(writer, sheet_name='configured_clients', index=False)
pot_report_pivot_multiclient.to_excel(writer, sheet_name='potential_clients', index=False)
conf_clients_report_by_bin.to_excel(writer, sheet_name='configured_by_bin_country', index=False)
conf_clients_report_by_card_and_3d.to_excel(writer, sheet_name='configured_by_cc', index=False)
# Save the Excel file
writer.save()

/tmp/ipykernel_25732/3958147974.py:9: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  writer.save()

In [37]:
raw_data.head(1)

,transaction_main_id,transaction_date,transaction_id_life_cycle,transaction_date_life_cycle,transaction_result_id,final_transaction_status,transaction_type_id,transaction_type,3d_flow_status,card_scheme,card_type,client_id,multi_client_id,multi_client_name,client_name,amount_in_usd,approved_amount_in_usd,decline_reason,transaction_status_reason,processor_name,industry_code,cccid,is_sale_3d,currency_code,issuer_bank_name,payment_instrument,bin_country,ip_country,is_external_mpi,source_application,auth_status,auth_3d_status,threed_eci,cvv_code,provider_response_code,scenario_id,previous_id,next_id,step,challenge_preference,preference_reason,authentication_flow,device_channel,init_status,sale_status,settle_status,is_successful_auth,is_successful_3ds,device_type,manage_3d_decision,is_currency_converted,verify_auth_3d_status,consumer_id,rebill,data_only_authentication_result,status,acs_url,region,is_eea,mc_scheme_token_used,date,is_auth_3d_flag
3409,2130000003844847428,2023-12-01 00:00:00.013,2130000003844847428,2023-12-01 00:00:00.013,1006,1,1000,sale,None,visa,debit,251001246,251001245,kaizen gaming cz applepay (kzn) multi,kaizen gaming cz applepay,0.45,0.45,None,None,nuvei acquirer - visa,7995,1,false,czk,"ceska sporitelna, a.s.",apple pay,cz,None,false,safecharge rest api,None,None,None,None,00,None,None,None,None,y_requested_by_acquirer,8,None,None,None,true,None,true,None,4,false,false,None,2130000000776047893,false,None,None,None,east europe,true,false,2023-12-01,non-3d

In [39]:
count_per_day_cln = raw_data.groupby(['date']).agg({
    'amount_in_usd': ['count', 'sum'],
    'approved_amount_in_usd': ['count', 'sum']
})

count_per_day_cln.applymap(lambda val: '{:,.2f}'.format(val) if isinstance(val, (float, int)) else val)

           amount_in_usd                 approved_amount_in_usd  \
                   count             sum                  count
date
2023-12-01  9,101,898.00  539,484,226.80           3,939,182.00
2023-12-02  8,449,898.00  421,811,078.37           3,702,896.00
2023-12-03  7,659,443.00  419,676,101.73           3,259,429.00
2023-12-04  7,985,344.00  532,928,913.25           3,314,398.00
2023-12-05  8,410,323.00  528,233,527.45           3,449,700.00
2023-12-06  8,511,260.00  525,886,051.43           3,572,330.00
2023-12-07  8,431,437.00  494,224,867.17           3,550,162.00
2023-12-08  9,151,511.00  514,444,654.21           3,849,880.00
2023-12-09  8,599,847.00  433,075,489.47           3,657,654.00
2023-12-10  7,721,589.00  413,646,267.31           3,228,224.00
2023-12-11  7,991,544.00  504,065,054.38           3,273,370.00
2023-12-12  8,787,570.00  509,761,193.71           3,628,836.00
2023-12-13  8,495,325.00  496,123,268.84           3,541,808.00
2023-12-14  8,625,068.00  501,220,202.62           3,589,171.00
2023-12-15  9,293,342.00  508,592,973.40           3,933,233.00
2023-12-16  8,641,564.00  420,148,278.83           3,716,817.00
2023-12-17  7,762,315.00  397,295,555.64           3,297,389.00
2023-12-18  7,910,018.00  461,040,937.59           3,324,517.00
2023-12-19  8,246,073.00  475,407,426.84           3,439,746.00
2023-12-20  8,522,709.00  490,718,874.12           3,563,641.00
2023-12-21  8,555,141.00  490,860,393.90           3,612,802.00
2023-12-22  9,154,137.00  520,275,469.15           3,884,709.00
2023-12-23  8,610,598.00  434,014,766.71           3,752,509.00
2023-12-24  6,346,670.00  359,136,791.36           2,679,447.00
2023-12-25  5,466,559.00  338,908,273.21           2,149,101.00
2023-12-26  7,054,395.00  421,446,313.90           2,928,956.00
2023-12-27  7,381,182.00  474,416,707.84           3,060,517.00
2023-12-28  7,728,279.00  498,549,200.40           3,195,955.00
2023-12-29  8,706,661.00  510,408,987.21           3,719,317.00
2023-12-30  8,136,952.00  429,168,110.13           3,439,641.00
2023-12-31  6,247,358.00  367,890,164.37           2,602,728.00


                       sum
date
2023-12-01  161,049,771.21
2023-12-02  131,025,081.05
2023-12-03  119,892,348.94
2023-12-04  137,026,629.89
2023-12-05  135,262,413.13
2023-12-06  137,432,496.53
2023-12-07  134,572,751.00
2023-12-08  143,595,918.93
2023-12-09  128,120,420.34
2023-12-10  113,535,712.05
2023-12-11  128,738,912.64
2023-12-12  135,216,055.86
2023-12-13  132,123,930.85
2023-12-14  135,502,514.30
2023-12-15  145,878,614.23
2023-12-16  129,112,584.91
2023-12-17  114,260,485.76
2023-12-18  125,740,652.66
2023-12-19  129,622,016.36
2023-12-20  134,707,226.35
2023-12-21  137,738,586.94
2023-12-22  151,727,429.83
2023-12-23  134,477,706.17
2023-12-24  100,114,880.74
2023-12-25   91,454,063.55
2023-12-26  117,678,656.54
2023-12-27  129,927,129.93
2023-12-28  137,623,420.90
2023-12-29  150,322,244.71
2023-12-30  128,516,207.70
2023-12-31   99,983,838.34

In [40]:
raw_data.columns

Index(['transaction_main_id', 'transaction_date', 'transaction_id_life_cycle',
       'transaction_date_life_cycle', 'transaction_result_id',
       'final_transaction_status', 'transaction_type_id', 'transaction_type',
       '3d_flow_status', 'card_scheme', 'card_type', 'client_id',
       'multi_client_id', 'multi_client_name', 'client_name', 'amount_in_usd',
       'approved_amount_in_usd', 'decline_reason', 'transaction_status_reason',
       'processor_name', 'industry_code', 'cccid', 'is_sale_3d',
       'currency_code', 'issuer_bank_name', 'payment_instrument',
       'bin_country', 'ip_country', 'is_external_mpi', 'source_application',
       'auth_status', 'auth_3d_status', 'threed_eci', 'cvv_code',
       'provider_response_code', 'scenario_id', 'previous_id', 'next_id',
       'step', 'challenge_preference', 'preference_reason',
       'authentication_flow', 'device_channel', 'init_status', 'sale_status',
       'settle_status', 'is_successful_auth', 'is_successful_3ds',
       'device_type', 'manage_3d_decision', 'is_currency_converted',
       'verify_auth_3d_status', 'consumer_id', 'rebill',
       'data_only_authentication_result', 'status', 'acs_url', 'region',
       'is_eea', 'mc_scheme_token_used', 'date', 'is_auth_3d_flag'],
      dtype='object')