In [ ]:
#### add europe filter!!!!!!!!! -v
### change success_rate_by_count to approval rate
### add mc_scheme_token_used only to summary

In [57]:
!pip install xlsxwriter
!pip install --upgrade pandas
!pip install --upgrade pyarrow

Looking in indexes: https://jfrog.readonly%40simplex.com:****@simplex.jfrog.io/simplex/api/pypi/py-simplex-virtual/simple
Requirement already satisfied: xlsxwriter in /home/ec2-user/anaconda3/envs/pytorch_p310/lib/python3.10/site-packages (3.1.9)
Looking in indexes: https://jfrog.readonly%40simplex.com:****@simplex.jfrog.io/simplex/api/pypi/py-simplex-virtual/simple
Requirement already satisfied: pandas in /home/ec2-user/anaconda3/envs/pytorch_p310/lib/python3.10/site-packages (2.0.3)
Collecting pandas
  Using cached https://simplex.jfrog.io/simplex/api/pypi/py-simplex-virtual/packages/packages/b1/67/aca1f6e215d957d24d0a290321f368503305480268f9617bf625243e9dea/pandas-2.1.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.3 MB)
Requirement already satisfied: numpy<2,>=1.22.4 in /home/ec2-user/anaconda3/envs/pytorch_p310/lib/python3.10/site-packages (from pandas) (1.22.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/ec2-user/anaconda3/envs/pytorch_p310/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/ec2-user/anaconda3/envs/pytorch_p310/lib/python3.10/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /home/ec2-user/anaconda3/envs/pytorch_p310/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /home/ec2-user/anaconda3/envs/pytorch_p310/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 2.0.3
    Uninstalling pandas-2.0.3:
      Successfully uninstalled pandas-2.0.3
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
autovizwidget 0.21.0 requires pandas<2.0.0,>=0.20.1, but you have pandas 2.1.4 which is incompatible.
hdijupyterutils 0.21.0 requires pandas<2.0.0,>=0.17.1, but you have pandas 2.1.4 which is incompatible.
sparkmagic 0.21.0 requires pandas<2.0.0,>=0.17.1, but you have pandas 2.1.4 which is incompatible.
Successfully installed pandas-2.1.4
Looking in indexes: https://jfrog.readonly%40simplex.com:****@simplex.jfrog.io/simplex/api/pypi/py-simplex-virtual/simple
Requirement already satisfied: pyarrow in /home/ec2-user/anaconda3/envs/pytorch_p310/lib/python3.10/site-packages (7.0.0)
Collecting pyarrow
  Using cached https://simplex.jfrog.io/simplex/api/pypi/py-simplex-virtual/packages/packages/27/bb/91d62fcc5678ff9e8483f27f9c493b1891820d4fd35e1fbae115bb24c5dd/pyarrow-14.0.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (38.1 MB)
Requirement already satisfied: numpy>=1.16.6 in /home/ec2-user/anaconda3/envs/pytorch_p310/lib/python3.10/site-packages (from pyarrow) (1.22.4)
Installing collected packages: pyarrow
  Attempting uninstall: pyarrow
    Found existing installation: pyarrow 7.0.0
    Uninstalling pyarrow-7.0.0:
      Successfully uninstalled pyarrow-7.0.0
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
data-science-workflows 1.8.891 requires pyarrow==7.0.0, but you have pyarrow 14.0.1 which is incompatible.
mlflow 2.4.1 requires pyarrow<13,>=4.0.0, but you have pyarrow 14.0.1 which is incompatible.
Successfully installed pyarrow-14.0.1

In [1]:
import numpy as np
import pandas as pd

pd.set_option('display.max_columns', 600)
pd.set_option('display.max_rows', 1300)

In [2]:
col_list = ['amount_in_usd', 'approved_amount_in_usd',
       'auth_3d_status', 'auth_status', 'bin_country',
       'card_scheme', 'card_type', 
       'currency_code', 
       'data_only_authentication_result', 'decline_reason', 'device_channel',
       'device_type', 'final_transaction_status',
       'industry_code', 'init_status', 'ip_country', 
       'is_successful_3ds', 'is_successful_auth', 'issuer_bank_name',
       'multi_client_id', 'multi_client_name', 'next_id',
       'payment_instrument', '3d_flow_status',
       'previous_id', 'processor_name', 'provider_response_code', 'rebill',
       'sale_status', 'scenario_id', 'settle_status', 'source_application',
       'step', 'transaction_date', 'transaction_date_life_cycle',
       'transaction_id_life_cycle', 'transaction_main_id',
       'transaction_result_id', 'transaction_status_reason',
       'transaction_type', 'transaction_type_id','authentication_flow','challenge_preference','region',
       'is_eea', 'mc_scheme_token_used',]

In [3]:

df = pd.read_parquet('cln_2023-12-01_2023-12-31_raw.parquet', 
   engine='auto', 
   use_nullable_dtypes=False,
  columns = col_list
)

In [5]:
df.head()

,amount_in_usd,approved_amount_in_usd,auth_3d_status,auth_status,bin_country,card_scheme,card_type,currency_code,data_only_authentication_result,decline_reason,device_channel,device_type,final_transaction_status,industry_code,init_status,ip_country,is_successful_3ds,is_successful_auth,issuer_bank_name,multi_client_id,multi_client_name,next_id,payment_instrument,3d_flow_status,previous_id,processor_name,provider_response_code,rebill,sale_status,scenario_id,settle_status,source_application,step,transaction_date,transaction_date_life_cycle,transaction_id_life_cycle,transaction_main_id,transaction_result_id,transaction_status_reason,transaction_type,transaction_type_id,authentication_flow,challenge_preference,region,is_eea,mc_scheme_token_used
3409,0.45,0.45,None,None,cz,visa,debit,czk,None,None,None,4,1,7995,None,None,None,true,"ceska sporitelna, a.s.",251001245,kaizen gaming cz applepay (kzn) multi,None,apple pay,None,None,nuvei acquirer - visa,00,false,true,None,None,safecharge rest api,None,2023-12-01 00:00:00.013,2023-12-01 00:00:00.013,2130000003844847428,2130000003844847428,1006,None,sale,1000,None,y_requested_by_acquirer,east europe,true,false
3410,21.80,NaN,None,None,fr,mastercard,debit,eur,None,None,None,4,0,6051,false,None,None,None,credit agricole s.a.,135000071,bifinity uab multi,None,apple pay,None,None,nuvei acquirer - mastercard,None,false,None,None,None,safecharge rest api,None,2023-12-01 00:00:00.093,2023-12-01 00:00:00.093,2130000003844847431,2130000003844847431,1004,None,initauth3d,1032,None,None,west europe,true,false
3411,6.40,6.40,None,None,us,mastercard,debit,usd,1,None,None,0,1,5816,None,us,None,true,community federal savings bank,17788,gaijin network ltd multi,None,cc,None,None,nuvei acquirer - mastercard,00,false,true,None,None,web cashier,None,2023-12-01 00:00:00.177,2023-11-30 23:59:59.227,2110000000032525406,2110000000032525422,1006,None,sale,1000,None,no_preference,north america,false,false
3412,19.95,NaN,None,false,us,visa,debit,usd,None,suspected fraud,None,4,0,5199,None,None,None,false,heartland bank and trust company,151002487,flexcharge multi,None,cc,None,None,nuvei na hub mvb us pi,decl|59,false,None,None,None,.net sdk,None,2023-12-01 00:00:00.220,2023-12-01 00:00:00.220,2110000000032525423,2110000000032525423,1008,None,auth,1007,None,no_preference,north america,false,false
3413,25.27,25.27,None,None,gb,mastercard,debit,gbp,None,None,None,4,1,7995,None,gb,None,true,santander uk plc,12003,ladbrokes direct (en) multi,None,cc,None,None,nuvei acquirer - mastercard,00,false,true,None,None,safecharge rest api,None,2023-12-01 00:00:00.307,2023-12-01 00:00:00.307,2130000003844847436,2130000003844847436,1006,None,sale,1000,None,y_requested_by_acquirer,west europe,true,false

In [6]:
## filter to MC and maestro:
df = df[df.card_scheme.isin(['mastercard','maestro'])]

## filter to eea:
df = df[df.is_eea=='true']

# filter to nuvei aquirer only
prefix_to_keep = 'nuvei acquirer'
df = df[df['processor_name'].str.startswith(prefix_to_keep)]

# fix a bug in the approved amount in usd
df['approved_amount_in_usd_fixed'] = np.where((df.final_transaction_status=='1')&
                                        ((df.transaction_type=='sale')|(df.transaction_type=='settle')),df.amount_in_usd,np.nan)

df['approved_authorization_in_usd'] = np.where((df.final_transaction_status=='1')&
                                        ((df.transaction_type=='sale')|(df.transaction_type=='auth')),df.amount_in_usd,np.nan)


#tm_id is the replacement of life cycle id because sometimes they switch while cascading
df['tm_id'] = np.where((df.transaction_main_id==df.transaction_id_life_cycle),
                    np.where(df.next_id!='-1',df.transaction_id_life_cycle,df.previous_id),df.transaction_id_life_cycle)

In [7]:
df['authentication_status'] = np.where(df['3d_flow_status'].notna(),df['3d_flow_status'],
                                   np.where(((df.authentication_flow=='technical_error')& 
                                            (df.challenge_preference=='y_requested_by_acquirer')&
                                            (df.sale_status.notna())),'exemption',df.authentication_flow
                                           ))
df['authentication_status'] = np.where(((df['authentication_status']=='technical_error')|
                                                  (df['authentication_status']=='3d_wasnt_completed')), 'technical_issues',df['authentication_status'])

In [8]:
#filter to non3d txns:
no3d = df.groupby(['tm_id']).agg({
    'authentication_status': ['last']
})

no3d = no3d.reset_index()

no3d_list = list(no3d[(no3d['authentication_status']['last']=='exemption')|
                      (no3d['authentication_status']['last'].isna())]['tm_id'])

relevant_data = df[df.tm_id.isin(no3d_list)]

In [9]:
## org the data: 
relevant_data = relevant_data[relevant_data.transaction_type!='verify_auth_3d']

relevant_data = relevant_data[relevant_data.rebill!='true']

relevant_data = relevant_data.drop_duplicates(keep='last')

In [10]:
# i want to aggregate using max so i make it a float
relevant_data.scenario_id = relevant_data.scenario_id.astype(float)
relevant_data.data_only_authentication_result = relevant_data.data_only_authentication_result.astype(float)

# filter to multis with enabled DOA cascading
selected_multi_clients = relevant_data.loc[relevant_data['scenario_id'].isin([12, 13]), 'multi_client_name'].unique()
relevant_data = relevant_data[relevant_data.multi_client_name.isin(selected_multi_clients)]

In [12]:
#i want the pivot to keep the null values
relevant_data.issuer_bank_name = relevant_data.issuer_bank_name.fillna('None')

# we only need the sale and auth rows
relevant_data = relevant_data[relevant_data.transaction_type.isin(['auth','sale'])]

In [13]:
# agg the data to 1 row per tm_id
agg_df = relevant_data.groupby(['tm_id'
                       ,'multi_client_name','industry_code','issuer_bank_name','source_application','mc_scheme_token_used'#,'transaction_date_short'
                      ]).agg({
    'amount_in_usd': ['max'],
    'approved_amount_in_usd_fixed': ['max'],
    'approved_authorization_in_usd': ['max'],
    'data_only_authentication_result':['max'],
    'scenario_id':['max']
})

agg_df.columns = ['amount_in_usd', 'approved_amount_in_usd','approved_authorization_in_usd','data_only_auth_result','scenario_id']

# filter out transaction that are in other cascadings:
agg_df = agg_df.reset_index()

agg_df_doa = agg_df[(agg_df.scenario_id.isin([12,13]))|(agg_df.scenario_id.isna())]

In [14]:
#i want the pivot to present the null values
agg_df_doa.data_only_auth_result = agg_df_doa.data_only_auth_result.astype("str")
agg_df_doa.scenario_id = agg_df_doa.scenario_id.astype("str")

# rename col values so the tables will be more indicative:
agg_df_doa['data_only_auth_result'] = agg_df_doa['data_only_auth_result'].str.replace('0.0', 'failed')
agg_df_doa['data_only_auth_result'] = agg_df_doa['data_only_auth_result'].str.replace('1.0', 'succeeded')
agg_df_doa['data_only_auth_result'] = agg_df_doa['data_only_auth_result'].str.replace('nan', 'was_not_sent')

# renamne the col values
agg_df_doa['data_only_auth_result'] = np.where(((agg_df_doa['data_only_auth_result']=='was_not_sent')&(agg_df_doa['scenario_id']!='nan')),'succeeded',agg_df_doa['data_only_auth_result'])

# rename the cols
agg_df_doa.rename(columns={'scenario_id': 'was_cascaded'}, inplace=True)
agg_df_doa.rename(columns={'data_only_auth_result': 'data_only_authentication_status'}, inplace=True)

# make the was cascaded bool
agg_df_doa['was_cascaded'] = np.where(agg_df_doa['was_cascaded'].isin(['12.0','13.0']), True,False)

/tmp/ipykernel_60428/349587693.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agg_df_doa.data_only_auth_result = agg_df_doa.data_only_auth_result.astype("str")
/tmp/ipykernel_60428/349587693.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agg_df_doa.scenario_id = agg_df_doa.scenario_id.astype("str")
/tmp/ipykernel_60428/349587693.py:6: FutureWarning: The default value of regex will change from True to False in a future version.
  agg_df_doa['data_only_auth_result'] = agg_df_doa['data_only_auth_result'].str.replace('0.0', 'failed')
/tmp/ipykernel_60428/349587693.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agg_df_doa['data_only_auth_result'] = agg_df_doa['data_only_auth_result'].str.replace('0.0', 'failed')
/tmp/ipykernel_60428/349587693.py:7: FutureWarning: The default value of regex will change from True to False in a future version.
  agg_df_doa['data_only_auth_result'] = agg_df_doa['data_only_auth_result'].str.replace('1.0', 'succeeded')
/tmp/ipykernel_60428/349587693.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agg_df_doa['data_only_auth_result'] = agg_df_doa['data_only_auth_result'].str.replace('1.0', 'succeeded')
/tmp/ipykernel_60428/349587693.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agg_df_doa['data_only_auth_result'] = agg_df_doa['data_only_auth_result'].str.replace('nan', 'was_not_sent')
/tmp/ipykernel_60428/349587693.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agg_df_doa['data_only_auth_result'] = np.where(((agg_df_doa['data_only_auth_result']=='was_not_sent')&(agg_df_doa['scenario_id']!='nan')),'succeeded',agg_df_doa['data_only_auth_result'])
/tmp/ipykernel_60428/349587693.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agg_df_doa.rename(columns={'scenario_id': 'was_cascaded'}, inplace=True)
/tmp/ipykernel_60428/349587693.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agg_df_doa.rename(columns={'data_only_auth_result': 'data_only_authentication_status'}, inplace=True)
/tmp/ipykernel_60428/349587693.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agg_df_doa['was_cascaded'] = np.where(agg_df_doa['was_cascaded'].isin(['12.0','13.0']), True,False)

In [19]:
# summary_pivot
summary_pivot = agg_df_doa.pivot_table(index = ['data_only_authentication_status','mc_scheme_token_used'], #,'was_cascaded'
                         values = ['amount_in_usd', 'approved_authorization_in_usd'], aggfunc = ('count','sum'))
summary_pivot['approval_rate_#'] = summary_pivot['approved_authorization_in_usd']['count'] / summary_pivot['amount_in_usd']['count']
summary_pivot['approval_rate_$'] = summary_pivot['approved_authorization_in_usd']['sum'] / summary_pivot['amount_in_usd']['sum']
#.sort_values(by = 'success_rate_#', ascending = False)

summary_pivot.columns = ['_'.join(map(str, col)) for col in summary_pivot.columns]

summary_pivot.rename(columns={'amount_in_usd_count': 'all_txn_count(#)',
                             'amount_in_usd_sum': 'all_txn_sum($)',
                             'approved_amount_in_usd_count': 'approved_txn_count(#)',
                             'approved_amount_in_usd_sum': 'approved_txn_sum($)',
                             'approval_rate_#_': 'approval_rate_by_count(#)',
                             'approval_rate_$_': 'approval_rate_by_sum($)'}, inplace=True)

summary_pivot.applymap('{:,.2f}'.format)

                                                     all_txn_count(#)  \
data_only_authentication_status mc_scheme_token_used
failed                          false                       48,339.00
                                true                         7,711.00
succeeded                       false                    1,942,840.00
                                true                     1,542,075.00
was_not_sent                    false                      680,415.00
                                true                       263,092.00

                                                     all_txn_sum($)  \
data_only_authentication_status mc_scheme_token_used
failed                          false                  1,144,899.59
                                true                     200,389.12
succeeded                       false                 51,511,090.99
                                true                  46,268,430.41
was_not_sent                    false                 35,767,414.73
                                true                   9,504,753.21

                                                     approved_authorization_in_usd_count  \
data_only_authentication_status mc_scheme_token_used
failed                          false                                          44,276.00
                                true                                            6,770.00
succeeded                       false                                       1,728,272.00
                                true                                        1,413,005.00
was_not_sent                    false                                         569,574.00
                                true                                          233,527.00

                                                     approved_authorization_in_usd_sum  \
data_only_authentication_status mc_scheme_token_used
failed                          false                                     1,037,805.97
                                true                                        175,154.31
succeeded                       false                                    45,304,391.20
                                true                                     41,827,206.96
was_not_sent                    false                                    27,148,478.34
                                true                                      8,226,875.66

                                                     approval_rate_by_count(#)  \
data_only_authentication_status mc_scheme_token_used
failed                          false                                     0.92
                                true                                      0.88
succeeded                       false                                     0.89
                                true                                      0.92
was_not_sent                    false                                     0.84
                                true                                      0.89

                                                     approval_rate_by_sum($)
data_only_authentication_status mc_scheme_token_used
failed                          false                                   0.91
                                true                                    0.87
succeeded                       false                                   0.88
                                true                                    0.90
was_not_sent                    false                                   0.76
                                true                                    0.87

In [16]:
# filter only to successful doa
doa_only = agg_df_doa[agg_df_doa.data_only_authentication_status=='succeeded']

# make columns for the txns possible paths:
doa_only['auth_success_1st'] = np.where((doa_only.approved_authorization_in_usd.notna())&
                                    (doa_only.was_cascaded==False),doa_only.amount_in_usd,np.nan)

doa_only['failed_1st'] = np.where(doa_only['auth_success_1st'].isna(),doa_only.amount_in_usd,np.nan)

doa_only['reached_cascading'] = np.where(doa_only.was_cascaded==True,doa_only.amount_in_usd,np.nan)

doa_only['success_2nd'] = np.where((doa_only.approved_authorization_in_usd.notna())&
                                    (doa_only.was_cascaded==True),doa_only.amount_in_usd,np.nan)

doa_only['success_2nd2'] = doa_only['success_2nd']

# pivot the paths: note that because i use 'margins' i need to wite the aggfunc to each col seperately
doa_pivot = doa_only.pivot_table(index = ['multi_client_name'],
                         values = ['amount_in_usd', 'auth_success_1st','failed_1st','reached_cascading','success_2nd','success_2nd2'],
                                 aggfunc = {'amount_in_usd':'count',
                                             'auth_success_1st':'count',
                                             'failed_1st':'count',
                                            'reached_cascading':'count',
                                             'success_2nd':'count',
                                            'success_2nd2': 'sum'
                                            },
                                 margins = True,margins_name = 'Totals',dropna=False)
doa_pivot['recovery_rate_#'] = doa_pivot['success_2nd']/ doa_pivot['reached_cascading']


doa_pivot.rename(columns={'amount_in_usd': 'all_txn_count(#)',
                             'failed_1st': 'failed_1st_authorization(#)',
                             'auth_success_1st': 'succeeded_1st_authorization(#)',
                            'reached_cascading':'reached_cascading(#)',
                             'success_2nd': 'succeeded_2nd_authorization(#)',
                          'success_2nd2': 'succeeded_2nd_authorization($)',
                             'recovery_rate_#': 'recovery_rate(#)',
                             }, inplace=True)

doa_pivot.sort_values(by = 'all_txn_count(#)', ascending = False).applymap('{:,.2f}'.format)

/tmp/ipykernel_60428/1487440174.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  doa_only['auth_success_1st'] = np.where((doa_only.approved_authorization_in_usd.notna())&
/tmp/ipykernel_60428/1487440174.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  doa_only['failed_1st'] = np.where(doa_only['auth_success_1st'].isna(),doa_only.amount_in_usd,np.nan)
/tmp/ipykernel_60428/1487440174.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  doa_only['reached_cascading'] = np.where(doa_only.was_cascaded==True,doa_only.amount_in_usd,np.nan)
/tmp/ipykernel_60428/1487440174.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  doa_only['success_2nd'] = np.where((doa_only.approved_authorization_in_usd.notna())&
/tmp/ipykernel_60428/1487440174.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  doa_only['success_2nd2'] = doa_only['success_2nd']

,all_txn_count(#),succeeded_1st_authorization(#),failed_1st_authorization(#),reached_cascading(#),succeeded_2nd_authorization(#),succeeded_2nd_authorization($),recovery_rate(#)
multi_client_name,,,,,,,
Totals,"3,484,915.00","3,111,547.00","373,368.00","185,967.00","29,730.00","1,114,586.03",0.16
superbet romania (superbet group) multi,"1,082,377.00","973,989.00","108,388.00","59,032.00","10,592.00","217,201.16",0.18
sks365 malta ltd multi,"648,527.00","594,032.00","54,495.00","19,280.00","1,737.00","69,386.42",0.09
888virtual marketing services italia ltd multi,"283,513.00","247,947.00","35,566.00","18,373.00","2,602.00","108,384.22",0.14
kaizen gaming international romania (kzn) multi,"279,872.00","247,232.00","32,640.00","15,476.00","2,276.00","54,101.20",0.15
infinite styles ecommerce co. limited multi,"259,526.00","211,781.00","47,745.00","34,607.00","8,466.00","561,427.94",0.24
hattrick - casapariurilor (ftn) multi,"169,215.00","147,676.00","21,539.00","8,636.00","1,131.00","31,758.34",0.13
superbet poland (superbet group) multi,"105,663.00","97,666.00","7,997.00","4,058.00",22.00,359.34,0.01
virgin bet ltd multi,"87,581.00","83,408.00","4,173.00","1,056.00",38.00,"1,654.35",0.04
crowd entertainment limited multi,"68,059.00","60,577.00","7,482.00","1,925.00",19.00,259.83,0.01
kwiff - eaton gate gaming limited multi,"66,309.00","63,649.00","2,660.00","1,011.00",60.00,"2,195.19",0.06
s.c. bet zone (ftn) multi,"61,205.00","53,375.00","7,830.00","3,302.00",531.00,"9,152.83",0.16
ag communications limited multi,"56,892.00","51,391.00","5,501.00","1,596.00",23.00,700.68,0.01
brobet bulgaria multi,"54,525.00","47,500.00","7,025.00","1,417.00",20.00,461.37,0.01
hattrick (ftn) multi,"54,051.00","48,947.00","5,104.00","2,297.00",15.00,334.22,0.01
megabet international srl multi,"47,835.00","43,831.00","4,004.00","2,133.00",282.00,"6,943.82",0.13
merkurxtip as multi,"32,659.00","28,879.00","3,780.00","2,049.00",6.00,58.99,0.00
netbet multi,"25,305.00","22,998.00","2,307.00","1,117.00",46.00,"4,452.16",0.04
rank digital ceuta s.a. multi,"21,930.00","19,065.00","2,865.00","1,570.00",208.00,"3,051.24",0.13
bingosoft spain - multi,"19,132.00","16,670.00","2,462.00","1,430.00",130.00,"1,703.78",0.09
bpg s.r.l multi,"11,704.00","10,690.00","1,014.00",317.00,33.00,"1,098.80",0.10
tangome cyprus limited multi,"10,515.00","8,149.00","2,366.00","1,193.00",154.00,"4,200.74",0.13
g5 entertainment ab multi,"9,663.00","8,221.00","1,442.00","1,173.00",600.00,"5,998.00",0.51
vincitu srl multi,"7,676.00","6,474.00","1,202.00",464.00,38.00,207.96,0.08
boss online s.r.l. multi,"6,761.00","5,841.00",920.00,399.00,5.00,120.48,0.01
888 vgdsl limited multi,"3,132.00","3,050.00",82.00,27.00,0.00,0.00,0.00
cashpoint malta denmark multi,"2,160.00","1,814.00",346.00,256.00,185.00,"4,020.56",0.72
sa derby (en) multi,"2,009.00","1,140.00",869.00,778.00,403.00,"22,431.10",0.52
ready2wash s.r.o multi,"1,587.00","1,418.00",169.00,133.00,9.00,185.54,0.07
electraworks (ceuta) s.a. (en) multi,"1,560.00","1,167.00",393.00,174.00,13.00,541.73,0.07
betflag s.p.a. multi,"1,491.00",973.00,518.00,444.00,0.00,0.00,0.00
arzella limited multi,"1,399.00","1,165.00",234.00,140.00,77.00,"1,281.36",0.55
sisal entertainment multi,576.00,499.00,77.00,2.00,0.00,0.00,0.00
fashion choice pte. ltd. multi,131.00,80.00,51.00,33.00,7.00,592.47,0.21
plus500 (5) multi,108.00,46.00,62.00,22.00,1.00,273.60,0.05
kryptonim sp. z o.o multi,87.00,64.00,23.00,20.00,0.00,0.00,0.00
virgin atlantic holidays multi,83.00,80.00,3.00,3.00,0.00,0.00,0.00
moon pay technology services limited multi,34.00,12.00,22.00,19.00,1.00,46.61,0.05
quality customer care solutions srl multi,24.00,22.00,2.00,1.00,0.00,0.00,0.00
ic markets (eu) ltd (5) multi,24.00,18.00,6.00,2.00,0.00,0.00,0.00
gaijin network ltd multi,13.00,11.00,2.00,1.00,0.00,0.00,0.00
cana pay d.o.o. multi,2.00,0.00,2.00,1.00,0.00,0.00,0.00

In [17]:
# count txn per multi to calculate the share% later
multis_pivot_agg = agg_df_doa.pivot_table(index = ['multi_client_name'],
                         values = ['amount_in_usd'], aggfunc = ('count'))


multis_pivot_agg.rename(columns={'amount_in_usd': 'all_txn_count_per_multi(#)' }, inplace=True)

# multis pivot:
multis_pivot = agg_df_doa.pivot_table(index = ['multi_client_name', 'data_only_authentication_status', 'was_cascaded'],
values = ['amount_in_usd', 'approved_authorization_in_usd'], aggfunc = ('count','sum'))

multis_pivot['approval_rate_#'] = multis_pivot['approved_authorization_in_usd']['count'] / multis_pivot['amount_in_usd']['count']
multis_pivot['approval_rate_$'] = multis_pivot['approved_authorization_in_usd']['sum'] / multis_pivot['amount_in_usd']['sum']

multis_pivot.columns = ['_'.join(map(str, col)) for col in multis_pivot.columns]


multis_pivot.rename(columns={'amount_in_usd_count': 'all_txn_count(#)',
                             'amount_in_usd_sum': 'all_txn_sum($)',
                             'approved_amount_in_usd_count': 'approved_txn_count(#)',
                             'approved_amount_in_usd_sum': 'approved_txn_sum($)',
                             'approval_rate_#_': 'approval_rate_by_count(#)',
                             'approval_rate_$_': 'approval_rate_by_sum($)'}, inplace=True)

multis_pivot = multis_pivot.reset_index()

# merge the tables (for the share%):
all_multis = pd.merge(multis_pivot,multis_pivot_agg, how = 'left', left_on = 'multi_client_name',
                               right_on = 'multi_client_name')
# add share%
all_multis['share_out_of_total_txn_per_multi(#)'] = all_multis['all_txn_count(#)']/all_multis['all_txn_count_per_multi(#)']
all_multis.drop(columns=['all_txn_count_per_multi(#)'])

,multi_client_name,data_only_authentication_status,was_cascaded,all_txn_count(#),all_txn_sum($),approved_authorization_in_usd_count,approved_authorization_in_usd_sum,approval_rate_by_count(#),approval_rate_by_sum($),share_out_of_total_txn_per_multi(#)
0,888 vgdsl limited multi,succeeded,False,3105,188051.09,3050,185724.43,0.982287,0.987628,0.664598
1,888 vgdsl limited multi,succeeded,True,27,834.94,0,0.00,0.000000,0.000000,0.005779
2,888 vgdsl limited multi,was_not_sent,False,1540,89144.91,1512,87262.76,0.981818,0.978887,0.329623
3,888virtual marketing services italia ltd multi,failed,False,61,1895.92,56,1761.18,0.918033,0.928932,0.000215
4,888virtual marketing services italia ltd multi,succeeded,False,265140,9973187.46,247947,9273700.23,0.935155,0.929863,0.934981
5,888virtual marketing services italia ltd multi,succeeded,True,18373,866715.52,2602,108384.17,0.141621,0.125052,0.064790
6,888virtual marketing services italia ltd multi,was_not_sent,False,4,86.90,0,0.00,0.000000,0.000000,0.000014
7,ag communications limited multi,failed,False,8,405.83,8,405.83,1.000000,1.000000,0.000129
8,ag communications limited multi,succeeded,False,55296,2272791.29,51391,2124670.18,0.929380,0.934829,0.890564
9,ag communications limited multi,succeeded,True,1596,64199.68,23,700.68,0.014411,0.010914,0.025704
10,ag communications limited multi,was_not_sent,False,5191,592452.46,3786,490773.93,0.729339,0.828377,0.083603
11,arzella limited multi,succeeded,False,1259,19748.62,1165,18300.04,0.925338,0.926649,0.480351
12,arzella limited multi,succeeded,True,140,2353.90,77,1281.36,0.550000,0.544356,0.053415
13,arzella limited multi,was_not_sent,False,1222,125628.03,948,84359.45,0.775777,0.671502,0.466234
14,betflag s.p.a. multi,failed,False,7,122.77,2,24.99,0.285714,0.203551,0.004118
15,betflag s.p.a. multi,succeeded,False,1047,39378.03,973,37407.46,0.929322,0.949958,0.615882
16,betflag s.p.a. multi,succeeded,True,444,29403.41,0,0.00,0.000000,0.000000,0.261176
17,betflag s.p.a. multi,was_not_sent,False,202,4754.82,8,493.78,0.039604,0.103848,0.118824
18,bingosoft spain - multi,failed,False,3171,58905.14,2780,52496.27,0.876695,0.891200,0.125908
19,bingosoft spain - multi,succeeded,False,17702,285479.49,16670,270825.72,0.941702,0.948670,0.702879
20,bingosoft spain - multi,succeeded,True,1430,22207.39,130,1703.78,0.090909,0.076721,0.056780
21,bingosoft spain - multi,was_not_sent,False,2882,106224.27,2284,89904.77,0.792505,0.846368,0.114433
22,boss online s.r.l. multi,failed,False,67,1794.30,64,1646.95,0.955224,0.917879,0.005575
23,boss online s.r.l. multi,succeeded,False,6362,212090.71,5841,198021.37,0.918108,0.933664,0.529417
24,boss online s.r.l. multi,succeeded,True,399,13889.48,5,120.48,0.012531,0.008674,0.033203
25,boss online s.r.l. multi,was_not_sent,False,5189,209801.26,4570,188889.42,0.880709,0.900325,0.431805
26,bpg s.r.l multi,succeeded,False,11387,468705.25,10690,438460.48,0.938790,0.935472,0.971836
27,bpg s.r.l multi,succeeded,True,317,17979.28,33,1098.80,0.104101,0.061115,0.027055
28,bpg s.r.l multi,was_not_sent,False,13,342.90,5,33.45,0.384615,0.097550,0.001109
29,brobet bulgaria multi,failed,False,922,43128.67,670,31932.47,0.726681,0.740400,0.005202
30,brobet bulgaria multi,succeeded,False,53108,1505425.54,47500,1382210.57,0.894404,0.918153,0.299615
31,brobet bulgaria multi,succeeded,True,1417,41652.12,20,461.37,0.014114,0.011077,0.007994
32,brobet bulgaria multi,was_not_sent,False,121807,3295422.35,109727,3022390.01,0.900827,0.917148,0.687189
33,cana pay d.o.o. multi,succeeded,False,1,27.80,0,0.00,0.000000,0.000000,0.500000
34,cana pay d.o.o. multi,succeeded,True,1,1123.48,0,0.00,0.000000,0.000000,0.500000
35,cashpoint malta denmark multi,succeeded,False,1904,41276.93,1814,39150.87,0.952731,0.948493,0.881481
36,cashpoint malta denmark multi,succeeded,True,256,5581.80,185,4020.56,0.722656,0.720298,0.118519
37,crowd entertainment limited multi,failed,False,537,8742.62,505,8319.51,0.940410,0.951604,0.007823
38,crowd entertainment limited multi,succeeded,False,66134,1309737.15,60577,1222081.20,0.915974,0.933074,0.963477
39,crowd entertainment limited multi,succeeded,True,1925,36096.46,19,257.61,0.009870,0.007137,0.028044
40,crowd entertainment limited multi,was_not_sent,False,45,414.05,0,0.00,0.000000,0.000000,0.000656
41,electraworks (ceuta) s.a. (en) multi,failed,False,7,94.83,7,94.83,1.000000,1.000000,0.000050
42,electraworks (ceuta) s.a. (en) multi,succeeded,False,1386,55352.29,1167,45072.76,0.841991,0.814289,0.009933
43,electraworks (ceuta) s.a. (en) multi,succeeded,True,174,8040.39,13,541.73,0.074713,0.067376,0.001247
44,electraworks (ceuta) s.a. (en) multi,was_not_sent,False,137969,4527435.66,110346,3353234.71,0.799788,0.740648,0.988770
45,fashion choice pte. ltd. multi,failed,False,15,450.00,4,108.28,0.266667,0.240622,0.015806
46,fashion choice pte. ltd. multi,succeeded,False,98,5029.76,80,4039.26,0.816327,0.803072,0.103267
47,fashion choice pte. ltd. multi,succeeded,True,33,3075.39,7,592.47,0.212121,0.192649,0.034773
48,fashion choice pte. ltd. multi,was_not_sent,False,803,106366.84,623,76718.03,0.775841,0.721259,0.846154
49,g5 entertainment ab multi,failed,False,8,23.73,7,20.44,0.875000,0.861357,0.000764
50,g5 entertainment ab multi,succeeded,False,8490,72948.68,8221,71181.47,0.968316,0.975775,0.810346
51,g5 entertainment ab multi,succeeded,True,1173,11808.60,600,5998.00,0.511509,0.507935,0.111960
52,g5 entertainment ab multi,was_not_sent,False,806,9643.06,124,790.15,0.153846,0.081940,0.076930
53,gaijin network ltd multi,succeeded,False,12,318.12,11,295.02,0.916667,0.927386,0.342857
54,gaijin network ltd multi,succeeded,True,1,1.09,0,0.00,0.000000,0.000000,0.028571
55,gaijin network ltd multi,was_not_sent,False,22,464.13,2,8.04,0.090909,0.017323,0.628571
56,hattrick (ftn) multi,failed,False,67,1447.31,63,1381.24,0.940299,0.954350,0.001205
57,hattrick (ftn) multi,succeeded,False,51754,1077555.38,48947,1025094.86,0.945763,0.951315,0.930760
58,hattrick (ftn) multi,succeeded,True,2297,46196.43,15,334.22,0.006530,0.007235,0.041310
59,hattrick (ftn) multi,was_not_sent,False,1486,46021.70,965,33498.06,0.649394,0.727875,0.026725
60,hattrick - casapariurilor (ftn) multi,failed,False,2795,62500.20,2522,56560.00,0.902326,0.904957,0.014724
61,hattrick - casapariurilor (ftn) multi,succeeded,False,160579,3691198.23,147676,3415862.90,0.919647,0.925408,0.845936
62,hattrick - casapariurilor (ftn) multi,succeeded,True,8636,221863.29,1131,31758.34,0.130963,0.143144,0.045495
63,hattrick - casapariurilor (ftn) multi,was_not_sent,False,17814,532603.12,13952,416236.96,0.783204,0.781514,0.093845
64,ic markets (eu) ltd (5) multi,succeeded,False,22,11680.48,18,5218.13,0.818182,0.446739,0.785714
65,ic markets (eu) ltd (5) multi,succeeded,True,2,133.57,0,0.00,0.000000,0.000000,0.071429
66,ic markets (eu) ltd (5) multi,was_not_sent,False,4,30.12,1,5.00,0.250000,0.166003,0.142857
67,infinite styles ecommerce co. limited multi,failed,False,31,1809.03,22,1503.44,0.709677,0.831075,0.000071
68,infinite styles ecommerce co. limited multi,succeeded,False,224919,12448640.55,211781,11694500.65,0.941588,0.939420,0.517736
69,infinite styles ecommerce co. limited multi,succeeded,True,34607,2164660.21,8466,561427.94,0.244633,0.259361,0.079661
70,infinite styles ecommerce co. limited multi,was_not_sent,False,174871,9045768.70,144452,7364551.90,0.826049,0.814143,0.402532
71,kaizen gaming international romania (kzn) multi,failed,False,36,536.49,31,479.05,0.861111,0.892934,0.000128
72,kaizen gaming international romania (kzn) multi,succeeded,False,264396,6701418.38,247232,6254640.75,0.935082,0.933331,0.937315
73,kaizen gaming international romania (kzn) multi,succeeded,True,15476,426840.39,2276,54101.20,0.147066,0.126748,0.054864
74,kaizen gaming international romania (kzn) multi,was_not_sent,False,2170,43658.39,0,0.00,0.000000,0.000000,0.007693
75,kryptonim sp. z o.o multi,failed,False,36,3966.56,30,3665.84,0.833333,0.924186,0.292683
76,kryptonim sp. z o.o multi,succeeded,False,67,7762.30,64,7699.46,0.955224,0.991904,0.544715
77,kryptonim sp. z o.o multi,succeeded,True,20,4737.36,0,0.00,0.000000,0.000000,0.162602
78,kwiff - eaton gate gaming limited multi,failed,False,9,285.80,9,285.80,1.000000,1.000000,0.000135
79,kwiff - eaton gate gaming limited multi,succeeded,False,65298,3022385.24,63649,2944338.26,0.974747,0.974177,0.979891
80,kwiff - eaton gate gaming limited multi,succeeded,True,1011,40915.17,60,2195.19,0.059347,0.053652,0.015172
81,kwiff - eaton gate gaming limited multi,was_not_sent,False,320,9068.04,0,0.00,0.000000,0.000000,0.004802
82,megabet international srl multi,failed,False,1303,37555.54,1170,34307.54,0.897928,0.913515,0.025992
83,megabet international srl multi,succeeded,False,45702,1236409.16,43831,1187825.34,0.959061,0.960706,0.911670
84,megabet international srl multi,succeeded,True,2133,63177.15,282,6905.95,0.132208,0.109311,0.042549
85,megabet international srl multi,was_not_sent,False,992,67859.75,425,21841.89,0.428427,0.321868,0.019789
86,merkurxtip as multi,failed,False,6,44.45,4,26.71,0.666667,0.600900,0.000181
87,merkurxtip as multi,succeeded,False,30610,349288.75,28879,333184.78,0.943450,0.953895,0.924522
88,merkurxtip as multi,succeeded,True,2049,21366.58,6,58.99,0.002928,0.002761,0.061886
89,merkurxtip as multi,was_not_sent,False,444,4769.58,0,0.00,0.000000,0.000000,0.013410
90,moon pay technology services limited multi,failed,False,1,1.88,0,0.00,0.000000,0.000000,0.000017
91,moon pay technology services limited multi,succeeded,False,15,1864.38,12,550.30,0.800000,0.295165,0.000254
92,moon pay technology services limited multi,succeeded,True,19,836.02,1,46.61,0.052632,0.055752,0.000321
93,moon pay technology services limited multi,was_not_sent,False,59105,11761743.70,44140,7293924.20,0.746807,0.620140,0.999408
94,netbet multi,failed,False,1000,33566.62,948,30311.03,0.948000,0.903011,0.026919
95,netbet multi,succeeded,False,24188,777051.33,22998,737678.58,0.950802,0.949331,0.651108
96,netbet multi,succeeded,True,1117,36516.16,46,4452.16,0.041182,0.121923,0.030068
97,netbet multi,was_not_sent,False,10844,342523.40,9573,303627.63,0.882792,0.886443,0.291906
98,plus500 (5) multi,succeeded,False,86,64279.44,46,14093.02,0.534884,0.219246,0.361345
99,plus500 (5) multi,succeeded,True,22,54522.07,1,273.60,0.045455,0.005018,0.092437
100,plus500 (5) multi,was_not_sent,False,130,43000.83,84,31264.66,0.646154,0.727071,0.546218
101,quality customer care solutions srl multi,succeeded,False,23,505.20,22,461.88,0.956522,0.914252,0.884615
102,quality customer care solutions srl multi,succeeded,True,1,10.97,0,0.00,0.000000,0.000000,0.038462
103,quality customer care solutions srl multi,was_not_sent,False,2,133.36,0,0.00,0.000000,0.000000,0.076923
104,rank digital ceuta s.a. multi,failed,False,3539,66793.62,3045,58032.50,0.860413,0.868833,0.124019
105,rank digital ceuta s.a. multi,succeeded,False,20360,330543.46,19065,312426.05,0.936395,0.945189,0.713485
106,rank digital ceuta s.a. multi,succeeded,True,1570,24361.07,208,3051.24,0.132484,0.125251,0.055018
107,rank digital ceuta s.a. multi,was_not_sent,False,3067,106375.79,2422,87954.66,0.789697,0.826830,0.107478
108,ready2wash s.r.o multi,succeeded,False,1454,16748.09,1418,16429.01,0.975241,0.980948,0.468579
109,ready2wash s.r.o multi,succeeded,True,133,1557.05,9,185.54,0.067669,0.119161,0.042862
110,ready2wash s.r.o multi,was_not_sent,False,1516,15563.88,1457,15089.58,0.961082,0.969526,0.488559
111,s.c. bet zone (ftn) multi,failed,False,1919,44063.23,1734,39193.92,0.903596,0.889493,0.018836
112,s.c. bet zone (ftn) multi,succeeded,False,57903,1261038.27,53375,1172202.25,0.921800,0.929553,0.568356
113,s.c. bet zone (ftn) multi,succeeded,True,3302,75147.96,531,9152.83,0.160812,0.121797,0.032411
114,s.c. bet zone (ftn) multi,was_not_sent,False,38754,907740.43,32704,746433.88,0.843887,0.822299,0.380396
115,sa derby (en) multi,succeeded,False,1231,47853.27,1140,44796.87,0.926076,0.936130,0.424483
116,sa derby (en) multi,succeeded,True,778,41358.75,403,22431.10,0.517995,0.542354,0.268276
117,sa derby (en) multi,was_not_sent,False,891,36078.33,748,30023.90,0.839506,0.832187,0.307241
118,sisal entertainment multi,failed,False,2,131.60,1,109.70,0.500000,0.833587,0.002230
119,sisal entertainment multi,succeeded,False,574,26037.12,499,22830.84,0.869338,0.876857,0.639911
120,sisal entertainment multi,succeeded,True,2,610.73,0,0.00,0.000000,0.000000,0.002230
121,sisal entertainment multi,was_not_sent,False,319,8813.63,16,537.40,0.050157,0.060974,0.355630
122,sks365 malta ltd multi,failed,False,98,2119.14,93,2005.08,0.948980,0.946176,0.000143
123,sks365 malta ltd multi,succeeded,False,629247,16833477.79,594032,15816091.95,0.944036,0.939562,0.920847
124,sks365 malta ltd multi,succeeded,True,19280,625717.14,1737,69327.98,0.090093,0.110798,0.028215
125,sks365 malta ltd multi,was_not_sent,False,34710,1380632.42,24636,932682.99,0.709767,0.675548,0.050795
126,superbet poland (superbet group) multi,failed,False,15,488.93,12,308.51,0.800000,0.630990,0.000060
127,superbet poland (superbet group) multi,succeeded,False,101605,1170273.89,97666,1122311.49,0.961232,0.959016,0.406755
128,superbet poland (superbet group) multi,succeeded,True,4058,66952.07,22,359.34,0.005421,0.005367,0.016245
129,superbet poland (superbet group) multi,was_not_sent,False,144116,1596165.44,139434,1502506.99,0.967512,0.941323,0.576939
130,superbet romania (superbet group) multi,failed,False,39916,961515.76,36832,875875.30,0.922738,0.910932,0.030838
131,superbet romania (superbet group) multi,succeeded,False,1023345,23069559.02,973989,22010476.24,0.951770,0.954092,0.790598
132,superbet romania (superbet group) multi,succeeded,True,59032,1406479.40,10592,213767.13,0.179428,0.151987,0.045606
133,superbet romania (superbet group) multi,was_not_sent,False,172100,5438733.61,152591,4824683.85,0.886641,0.887097,0.132958
134,tangome cyprus limited multi,failed,False,11,281.63,9,195.52,0.818182,0.694244,0.001028
135,tangome cyprus limited multi,succeeded,False,9322,185646.08,8149,163212.85,0.874169,0.879161,0.870889
136,tangome cyprus limited multi,succeeded,True,1193,25974.12,154,4200.74,0.129086,0.161728,0.111454
137,tangome cyprus limited multi,was_not_sent,False,178,2479.23,1,2.42,0.005618,0.000976,0.016629
138,vincitu srl multi,succeeded,False,7212,40321.85,6474,36237.70,0.897671,0.898711,0.909917
139,vincitu srl multi,succeeded,True,464,2532.92,38,207.96,0.081897,0.082103,0.058542
140,vincitu srl multi,was_not_sent,False,250,1943.29,1,54.50,0.004000,0.028045,0.031542
141,virgin atlantic holidays multi,succeeded,False,80,1397.71,80,1397.71,1.000000,1.000000,0.046030
142,virgin atlantic holidays multi,succeeded,True,3,21.33,0,0.00,0.000000,0.000000,0.001726
143,virgin atlantic holidays multi,was_not_sent,False,1655,4810108.04,1564,4375575.03,0.945015,0.909663,0.952244
144,virgin bet ltd multi,failed,False,463,12617.11,418,11908.35,0.902808,0.943825,0.005254
145,virgin bet ltd multi,succeeded,False,86525,2449240.53,83408,2369841.81,0.963976,0.967582,0.981922
146,virgin bet ltd multi,succeeded,True,1056,30346.45,38,1654.35,0.035985,0.054515,0.011984
147,virgin bet ltd multi,was_not_sent,False,74,2171.52,0,0.00,0.000000,0.000000,0.000840

In [18]:
source_application_pivot = agg_df_doa.pivot_table(index = ['source_application','data_only_authentication_status','was_cascaded'],
                         values = ['amount_in_usd', 'approved_authorization_in_usd'], aggfunc = ('count','sum'))
source_application_pivot['approval_rate_#'] = source_application_pivot['approved_authorization_in_usd']['count'] / source_application_pivot['amount_in_usd']['count']
source_application_pivot['approval_rate_$'] = source_application_pivot['approved_authorization_in_usd']['sum'] / source_application_pivot['amount_in_usd']['sum']

source_application_pivot.columns = ['_'.join(map(str, col)) for col in source_application_pivot.columns]


source_application_pivot.rename(columns={'amount_in_usd_count': 'all_txn_count(#)',
                             'amount_in_usd_sum': 'all_txn_sum($)',
                             'approved_amount_in_usd_count': 'approved_txn_count(#)',
                             'approved_amount_in_usd_sum': 'approved_txn_sum($)',
                             'approval_rate_#_': 'approval_rate_by_count(#)',
                             'approval_rate_$_': 'approval_rate_by_sum($)'}, inplace=True)

source_application_pivot[source_application_pivot['all_txn_count(#)']>500].applymap('{:,.2f}'.format)#.sort_values(by = 'approval_rate_#', ascending = False)

                                                                 all_txn_count(#)  \
source_application  data_only_authentication_status was_cascaded
direct cc           succeeded                       False              268,331.00
                                                    True                18,422.00
                    was_not_sent                    False                1,675.00
safecharge rest api failed                          False                1,145.00
                    succeeded                       False              581,027.00
                                                    True                54,377.00
                    was_not_sent                    False              422,129.00
web cashier         failed                          False               54,833.00
                    succeeded                       False            2,428,226.00
                                                    True               111,540.00
                    was_not_sent                    False              518,880.00
web sdk             succeeded                       False               12,259.00
web sdk fields      succeeded                       False                9,105.00
                                                    True                 1,231.00
                    was_not_sent                    False                  618.00

                                                                 all_txn_sum($)  \
source_application  data_only_authentication_status was_cascaded
direct cc           succeeded                       False         10,225,517.99
                                                    True             922,072.53
                    was_not_sent                    False            132,254.57
safecharge rest api failed                          False             41,112.87
                    succeeded                       False         22,476,730.49
                                                    True           2,738,366.25
                    was_not_sent                    False         32,388,162.70
web cashier         failed                          False          1,302,114.40
                    succeeded                       False         57,999,120.96
                                                    True           2,815,856.86
                    was_not_sent                    False         12,741,734.59
web sdk             succeeded                       False            490,184.27
web sdk fields      succeeded                       False             80,170.40
                                                    True              12,584.28
                    was_not_sent                    False              8,018.01

                                                                 approved_authorization_in_usd_count  \
source_application  data_only_authentication_status was_cascaded
direct cc           succeeded                       False                                 251,043.00
                                                    True                                    2,603.00
                    was_not_sent                    False                                   1,597.00
safecharge rest api failed                          False                                   1,059.00
                    succeeded                       False                                 544,119.00
                                                    True                                   11,063.00
                    was_not_sent                    False                                 340,578.00
web cashier         failed                          False                                  49,921.00
                    succeeded                       False                               2,296,027.00
                                                    True                                   15,422.00
                    was_not_sent                    False                                 460,796.00
web sdk             succeeded                       False                                  11,527.00
web sdk fields      succeeded                       False                                   8,831.00
                                                    True                                      604.00
                    was_not_sent                    False                                       0.00

                                                                 approved_authorization_in_usd_sum  \
source_application  data_only_authentication_status was_cascaded
direct cc           succeeded                       False                             9,473,517.68
                                                    True                                108,657.77
                    was_not_sent                    False                               118,549.35
safecharge rest api failed                          False                                36,763.82
                    succeeded                       False                            21,051,762.54
                                                    True                                627,344.89
                    was_not_sent                    False                            24,206,180.42
web cashier         failed                          False                             1,174,273.05
                    succeeded                       False                            54,963,703.26
                                                    True                                367,768.42
                    was_not_sent                    False                            11,049,795.63
web sdk             succeeded                       False                               453,196.25
web sdk fields      succeeded                       False                                78,365.01
                                                    True                                  6,057.78
                    was_not_sent                    False                                     0.00

                                                                 approval_rate_by_count(#)  \
source_application  data_only_authentication_status was_cascaded
direct cc           succeeded                       False                             0.94
                                                    True                              0.14
                    was_not_sent                    False                             0.95
safecharge rest api failed                          False                             0.92
                    succeeded                       False                             0.94
                                                    True                              0.20
                    was_not_sent                    False                             0.81
web cashier         failed                          False                             0.91
                    succeeded                       False                             0.95
                                                    True                              0.14
                    was_not_sent                    False                             0.89
web sdk             succeeded                       False                             0.94
web sdk fields      succeeded                       False                             0.97
                                                    True                              0.49
                    was_not_sent                    False                             0.00

                                                                 approval_rate_by_sum($)
source_application  data_only_authentication_status was_cascaded
direct cc           succeeded                       False                           0.93
                                                    True                            0.12
                    was_not_sent                    False                           0.90
safecharge rest api failed                          False                           0.89
                    succeeded                       False                           0.94
                                                    True                            0.23
                    was_not_sent                    False                           0.75
web cashier         failed                          False                           0.90
                    succeeded                       False                           0.95
                                                    True                            0.13
                    was_not_sent                    False                           0.87
web sdk             succeeded                       False                           0.92
web sdk fields      succeeded                       False                           0.98
                                                    True                            0.48
                    was_not_sent                    False                           0.00

In [20]:
issuers_pivot = agg_df_doa[agg_df_doa.issuer_bank_name!='None'].pivot_table(index = ['issuer_bank_name','data_only_authentication_status','was_cascaded'],
                         values = ['amount_in_usd', 'approved_authorization_in_usd'], aggfunc = ('count','sum'))
issuers_pivot['approval_rate_#'] = issuers_pivot['approved_authorization_in_usd']['count'] / issuers_pivot['amount_in_usd']['count']
issuers_pivot['approval_rate_$'] = issuers_pivot['approved_authorization_in_usd']['sum'] / issuers_pivot['amount_in_usd']['sum']

issuers_pivot.columns = ['_'.join(map(str, col)) for col in issuers_pivot.columns]


issuers_pivot.rename(columns={'amount_in_usd_count': 'all_txn_count(#)',
                             'amount_in_usd_sum': 'all_txn_sum($)',
                             'approved_amount_in_usd_count': 'approved_txn_count(#)',
                             'approved_amount_in_usd_sum': 'approved_txn_sum($)',
                             'approval_rate_#_': 'approval_rate_by_count(#)',
                             'approval_rate_$_': 'approval_rate_by_sum($)'}, inplace=True)

issuers_pivot #= issuers_pivot.reset_index()

                                                                             all_txn_count(#)  \
issuer_bank_name               data_only_authentication_status was_cascaded
365.bank, a. s.                succeeded                       False                     2821
                                                               True                       142
                               was_not_sent                    False                     1797
a-tono payment institute spa   succeeded                       False                       18
                                                               True                         4
                               was_not_sent                    False                        1
addiko bank d.d.               failed                          False                        1
                               succeeded                       False                     8140
                                                               True                       373
                               was_not_sent                    False                      190
advanced payment solutions lim succeeded                       False                     2357
                                                               True                        47
                               was_not_sent                    False                       41
advanzia bank s.a.             failed                          False                       63
                               succeeded                       False                     2664
                                                               True                       238
                               was_not_sent                    False                      866
adyen n.v.                     succeeded                       False                        1
                               was_not_sent                    False                        1
aegon bank n.v.                succeeded                       False                       26
                                                               True                         4
                               was_not_sent                    False                       22
af payments ltd                succeeded                       True                         6
agos ducato spa                succeeded                       False                      921
                                                               True                       117
                               was_not_sent                    False                       29
aion s.a.                      succeeded                       False                       99
                                                               True                         5
                               was_not_sent                    False                       33
air bank a.s.                  failed                          False                        5
                               succeeded                       False                    21242
                                                               True                      1084
                               was_not_sent                    False                     6484
aircash d o o                  succeeded                       False                     6355
                                                               True                       350
                               was_not_sent                    False                      527
aktia bank plc                 succeeded                       False                      161
                                                               True                        25
                               was_not_sent                    False                      225
al rayan bank plc              succeeded                       False                        1
alandsbanken abp               succeeded                       False                       26
                               was_not_sent                    False                       47
alior bank spolka akcyjna      failed                          False                        4
                               succeeded                       False                    14924
                                                               True                      1175
                               was_not_sent                    False                    12949
allianz bank bulgaria ad       failed                          False                       51
                               succeeded                       False                      348
                                                               True                        22
                               was_not_sent                    False                      275
allpay limited                 succeeded                       False                        1
                                                               True                         1
alpha bank                     succeeded                       False                     6932
                                                               True                       621
                               was_not_sent                    False                     5972
alpha bank romania s.a.        failed                          False                        9
                               succeeded                       False                     1415
                                                               True                       152
                               was_not_sent                    False                       72
an post                        succeeded                       False                     1906
                                                               True                        87
                               was_not_sent                    False                      932
argenta spaarbank              succeeded                       True                      1131
                               was_not_sent                    False                      654
as industra bank (industra)    succeeded                       False                        9
                               was_not_sent                    False                       10
as lhv pank                    succeeded                       False                       14
                                                               True                         1
                               was_not_sent                    False                      352
as seb pank                    succeeded                       False                       75
                                                               True                         1
                               was_not_sent                    False                       88
attica bank sa                 succeeded                       False                        1
                                                               True                         2
                               was_not_sent                    False                        1
attijariwafa bank europe       was_not_sent                    False                       11
avantcard limited              succeeded                       False                      524
                                                               True                        48
                               was_not_sent                    False                      225
banca march, s.a.              failed                          False                       16
                               succeeded                       False                      149
                                                               True                         9
                               was_not_sent                    False                      317
banca monte dei paschi di sien failed                          False                        1
                               succeeded                       False                     4683
                                                               True                       409
                               was_not_sent                    False                      198
banca nazionale del lavoro s.p failed                          False                        1
                               succeeded                       False                    11522
                                                               True                       353
                               was_not_sent                    False                     1139
banca popolare dell'alto adige succeeded                       False                      295
                                                               True                       184
                               was_not_sent                    False                       18
banca romana de credite si inv failed                          False                        8
                               succeeded                       False                      360
                                                               True                        14
                               was_not_sent                    False                        7
banca sella spa                failed                          False                       18
                               succeeded                       False                    36228
                                                               True                      1587
                               was_not_sent                    False                     2563
banca transilvania s.a.        failed                          False                     7352
                               succeeded                       False                   246059
                                                               True                      9823
                               was_not_sent                    False                    24765
banco bilbao vizcaya argentari failed                          False                      107
                               succeeded                       False                     5809
                                                               True                       419
                               was_not_sent                    False                     2909
banco bpm societa per azioni   failed                          False                        1
                               succeeded                       False                    15188
                                                               True                      2180
                               was_not_sent                    False                      755
banco cetelem s.a.             failed                          False                        1
                               succeeded                       False                       18
                                                               True                        25
                               was_not_sent                    False                       48
banco comercial portugues s.a. failed                          False                        3
                               succeeded                       False                       97
                                                               True                         1
                               was_not_sent                    False                      158
banco privado atlantico europa succeeded                       False                       11
banco sabadell s.a.            failed                          False                     1266
                               succeeded                       False                     8423
                                                               True                       580
                               was_not_sent                    False                    23882
banco santander s.a.           failed                          False                     1720
                               succeeded                       False                    15800
                                                               True                      1070
                               was_not_sent                    False                    44698
banco santander totta s.a.     succeeded                       False                       82
                                                               True                         1
                               was_not_sent                    False                      175
bank handlowy w warszawie s.a. succeeded                       False                      135
                                                               True                         7
                               was_not_sent                    False                      470
bank millennium s.a.           succeeded                       False                     1034
                                                               True                        65
                               was_not_sent                    False                      814
bank ochrony srodowiska s.a. ( succeeded                       False                      196
                                                               True                         1
bank of america europe dac     succeeded                       False                        1
bank of cyprus public company  succeeded                       False                      411
                                                               True                        10
                               was_not_sent                    False                      293
bank of london and the middle  succeeded                       False                        1
                                                               True                        29
                               was_not_sent                    False                       33
bank of scotland plc           succeeded                       False                      108
                                                               True                         4
                               was_not_sent                    False                      133
bank pocztowy spolka akcyjna   succeeded                       False                     1057
                                                               True                       120
                               was_not_sent                    False                      410
bank polska kasa opieki s.a. - failed                          False                        1
                               succeeded                       False                    20769
                                                               True                      1181
                               was_not_sent                    False                    37734
bank polskiej spoldzielczosci  succeeded                       False                     3154
                                                               True                       221
                               was_not_sent                    False                     1107
banka creditas a.s.            succeeded                       False                      206
                                                               True                        30
                               was_not_sent                    False                      224
banka intesa sanpaolo d.d.     succeeded                       False                        5
banka sparkasse dd             succeeded                       False                      159
                                                               True                         4
                               was_not_sent                    False                      125
bankinter s.a.                 failed                          False                       57
                               succeeded                       False                      347
                                                               True                        67
                               was_not_sent                    False                     1193
banque federative du credit mu failed                          False                        3
                               succeeded                       False                       50
                                                               True                       407
                               was_not_sent                    False                     3043
barclays bank plc.             succeeded                       False                        4
                                                               True                         3
                               was_not_sent                    False                        7
barclays bank uk plc           succeeded                       False                        3
                               was_not_sent                    False                       10
bawag p.s.k. bank              failed                          False                        1
                               succeeded                       False                      199
                                                               True                        49
                               was_not_sent                    False                      133
bcc pay spa                    failed                          False                        3
                               succeeded                       False                    14667
                                                               True                       746
                               was_not_sent                    False                      641
belfius bank n.v. / belfius ba succeeded                       False                      825
                                                               True                      4313
                               was_not_sent                    False                     7248
beobank nv/sa                  failed                          False                        1
                               succeeded                       True                       875
                               was_not_sent                    False                      695
bgl bnp paribas s.a.           succeeded                       False                       58
                                                               True                         4
                               was_not_sent                    False                       37
bibanca s.p.a.                 failed                          False                        2
                               succeeded                       False                    18358
                                                               True                       745
                               was_not_sent                    False                     1030
bilderlings pay limited        succeeded                       False                        1
                               was_not_sent                    False                        2
bluor bank as                  succeeded                       False                        4
                               was_not_sent                    False                        1
bnext electronic issuer, e.d.e failed                          False                       17
                               succeeded                       False                      484
                                                               True                        44

In [21]:
explainings_df =pd.DataFrame({'Explanation': ['this notebook presents a monthly data for data only authentication (check id insight) feature and cascading performance',
                                             'the data presented here was filtered to only multis with both check id insight and check id insight cascading utilized',
                                             'the data_only_authentication_status column indecates whether the transaction had the data only authentication or not (was_not_sent) and whether it was successfull (succeeded) or not (failed)',
                                              'when a transaction was cascaded, the approval rate column represents the recovery rate',
#                                               'There might be a configuration problem causing the low success rates of the "java sdk integration" and the "web sdk fields" that were not sent to data only authentication, since the failures are confined to only one multiclient: moneyamber uab multi and g5 entertainment ab multi respectively',
                                             '* a failure in data only authentication does not mean that the transaction was failed, it can continue to authorization']
                             })

In [22]:
explainings_df

                                         Explanation
0  this notebook presents a monthly data for data...
1  the data presented here was filtered to only m...
2  the data_only_authentication_status column ind...
3  when a transaction was cascaded, the approval ...
4  * a failure in data only authentication does n...

In [24]:
# Create an Excel writer object
writer = pd.ExcelWriter('Dec_data_only_auth_report.xlsx', engine='xlsxwriter')

## export tables to excel:
explainings_df.to_excel(writer, sheet_name='explanations', index=False)
summary_pivot[summary_pivot['all_txn_count(#)']>50].to_excel(writer, sheet_name='summary')
doa_pivot.sort_values(by = 'all_txn_count(#)', ascending = False).to_excel(writer, sheet_name='cascading')
all_multis[all_multis['all_txn_count(#)']>50].to_excel(writer, sheet_name='multi-clients', index=False)
source_application_pivot[source_application_pivot['all_txn_count(#)']>500].to_excel(writer, sheet_name='source_application')
issuers_pivot[(issuers_pivot['all_txn_count(#)']>50)].to_excel(writer, sheet_name='issuers')

# Save the Excel file
writer.close()

In [46]:
#######################