In [1]:
#### add europe filter!!!!!!!!! -v
### change success_rate_by_count to approval rate
### add mc_scheme_token_used only to summary

In [1]:
!pip install xlsxwriter
!pip install --upgrade pandas
!pip install --upgrade pyarrow

Looking in indexes: https://jfrog.readonly%40simplex.com:****@simplex.jfrog.io/simplex/api/pypi/py-simplex-virtual/simple
Requirement already satisfied: xlsxwriter in /home/ec2-user/anaconda3/envs/pytorch_p310/lib/python3.10/site-packages (3.1.9)
Looking in indexes: https://jfrog.readonly%40simplex.com:****@simplex.jfrog.io/simplex/api/pypi/py-simplex-virtual/simple
Requirement already satisfied: pandas in /home/ec2-user/anaconda3/envs/pytorch_p310/lib/python3.10/site-packages (2.2.0)
Requirement already satisfied: numpy<2,>=1.22.4 in /home/ec2-user/anaconda3/envs/pytorch_p310/lib/python3.10/site-packages (from pandas) (1.22.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/ec2-user/anaconda3/envs/pytorch_p310/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/ec2-user/anaconda3/envs/pytorch_p310/lib/python3.10/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in /home/ec2-user/anaconda3/envs/pytorch_p310/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /home/ec2-user/anaconda3/envs/pytorch_p310/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Looking in indexes: https://jfrog.readonly%40simplex.com:****@simplex.jfrog.io/simplex/api/pypi/py-simplex-virtual/simple
Requirement already satisfied: pyarrow in /home/ec2-user/anaconda3/envs/pytorch_p310/lib/python3.10/site-packages (15.0.0)
Requirement already satisfied: numpy<2,>=1.16.6 in /home/ec2-user/anaconda3/envs/pytorch_p310/lib/python3.10/site-packages (from pyarrow) (1.22.4)

In [2]:
import numpy as np
import pandas as pd

pd.set_option('display.max_columns', 600)
pd.set_option('display.max_rows', 1300)

In [3]:
## YAEL: DELETED 'approved_amount_in_usd', is_successful_3ds, 'is_successful_auth'
col_list = ['amount_in_usd', 
       'auth_3d_status', 'auth_status', 'bin_country',
       'card_scheme', 'card_type', 
       'currency_code', 
       'data_only_authentication_result', 'decline_reason', 'device_channel',
       'device_type',
       'industry_code', 'init_status', 'ip_country', 
       'issuer_bank_name',
       'multi_client_id', 'multi_client_name', 'next_id',
       'payment_instrument', '3d_flow_status',
       'previous_id', 'processor_name', 'provider_response_code', 'rebill',
       'sale_status', 'scenario_id', 'settle_status', 'source_application',
       'step', 'transaction_date', 'transaction_date_life_cycle',
       'transaction_id_life_cycle', 'transaction_main_id',
       'transaction_result_id', 'transaction_status_reason',
       'transaction_type', 'transaction_type_id','authentication_flow','challenge_preference','region',
       'is_eea', 'mc_scheme_token_used', 'final_transaction_status']

In [4]:
df = pd.read_parquet('cln_2024-01-01_2024-01-31_raw.parquet', 
   engine='auto', 
   use_nullable_dtypes=False,
  columns = col_list
)

/tmp/ipykernel_41982/1333537386.py:1: FutureWarning: The argument 'use_nullable_dtypes' is deprecated and will be removed in a future version.
  df = pd.read_parquet('cln_2024-01-01_2024-01-31_raw.parquet',

In [5]:
df.head()

,amount_in_usd,auth_3d_status,auth_status,bin_country,card_scheme,card_type,currency_code,data_only_authentication_result,decline_reason,device_channel,device_type,industry_code,init_status,ip_country,issuer_bank_name,multi_client_id,multi_client_name,next_id,payment_instrument,3d_flow_status,previous_id,processor_name,provider_response_code,rebill,sale_status,scenario_id,settle_status,source_application,step,transaction_date,transaction_date_life_cycle,transaction_id_life_cycle,transaction_main_id,transaction_result_id,transaction_status_reason,transaction_type,transaction_type_id,authentication_flow,challenge_preference,region,is_eea,mc_scheme_token_used,final_transaction_status
1664,7.63,None,true,gb,mastercard,debit,gbp,None,None,None,4,5968,None,None,starling bank limited,251001439,curve uk limited multi,None,cc,None,None,nuvei acquirer - mastercard,00,true,None,None,None,safecharge rest api,None,2024-01-01 00:00:00.147,2024-01-01 00:00:00.147,1120000000502687980,1120000000502687980,1006,None,auth,1007,None,y_requested_by_acquirer,west europe,true,false,1
1667,10.00,None,None,us,discover,credit,usd,None,None,None,1,5816,None,us,discover issuer,135002919,sleeper multi,None,apple pay,None,None,nuvei na fresno pi,00,false,true,None,None,web cashier,None,2024-01-01 00:00:00.220,2024-01-01 00:00:00.220,1110000000054703054,1110000000054703054,1006,None,sale,1000,None,no_preference,north america,false,false,1
1668,2.55,None,true,gb,mastercard,debit,gbp,None,None,None,unknown,5499,None,None,monzo bank limited,16849,nayax financial services - uk multi,None,cc,None,None,nuvei acquirer - mastercard,00,false,None,None,None,direct cc,None,2024-01-01 00:00:00.240,2024-01-01 00:00:00.240,1110000000054703055,1110000000054703055,1006,None,auth,1007,None,no_preference,west europe,true,false,1
1669,117.81,None,None,mx,mastercard,credit,mxn,None,insufficient funds,None,1,7995,None,mx,"hsbc mexico, s.a. institucion",13482,tecnologia en entretemiento multi,None,cc,None,None,mit-afirme pi,None,false,false,None,None,web cashier,None,2024-01-01 00:00:00.247,2024-01-01 00:00:00.247,1120000000502687983,1120000000502687983,1008,None,sale,1000,None,no_preference,north america,false,false,0
1671,1.52,None,false,us,visa,credit,usd,None,suspected fraud,None,4,6051,None,us,None,135003585,moon pay technology services limited multi,None,cc,None,None,nuvei acquirer - visa,59,false,None,None,None,safecharge rest api,None,2024-01-01 00:00:00.283,2024-01-01 00:00:00.283,1110000000054703056,1110000000054703056,1008,None,auth,1007,None,no_preference,north america,false,false,0

In [6]:
## filter to MC and maestro:
df = df[df.card_scheme.isin(['mastercard','maestro'])]

## filter to eea:
df = df[df.is_eea=='true']

# filter to nuvei aquirer only
prefix_to_keep = 'nuvei acquirer'
df = df[df['processor_name'].str.startswith(prefix_to_keep)]

# fix a bug in the approved amount in usd
df['approved_amount_in_usd_fixed'] = np.where((df.final_transaction_status=='1')&
                                        ((df.transaction_type=='sale')|(df.transaction_type=='settle')),df.amount_in_usd,np.nan)

df['approved_authorization_in_usd'] = np.where((df.final_transaction_status=='1')&
                                        ((df.transaction_type=='sale')|(df.transaction_type=='auth')),df.amount_in_usd,np.nan)


#tm_id is the replacement of life cycle id because sometimes they switch while cascading
df['tm_id'] = np.where((df.transaction_main_id==df.transaction_id_life_cycle),
                    np.where(df.next_id!='-1',df.transaction_id_life_cycle,df.previous_id),df.transaction_id_life_cycle)

In [7]:
df['authentication_status'] = np.where(df['3d_flow_status'].notna(),df['3d_flow_status'],
                                   np.where(((df.authentication_flow=='technical_error')& 
                                            (df.challenge_preference=='y_requested_by_acquirer')&
                                            (df.sale_status.notna())),'exemption',df.authentication_flow
                                           ))
df['authentication_status'] = np.where(((df['authentication_status']=='technical_error')|
                                                  (df['authentication_status']=='3d_wasnt_completed')), 'technical_issues',df['authentication_status'])

In [10]:
#filter to non3d txns:
no3d = df.groupby(['tm_id']).agg({
    'authentication_status': ['last']
})

no3d = no3d.reset_index()

no3d_list = list(no3d[(no3d['authentication_status']['last']=='exemption')|
                      (no3d['authentication_status']['last'].isna())]['tm_id'])

relevant_data = df[df.tm_id.isin(no3d_list)]

In [11]:
## org the data: 
relevant_data = relevant_data[relevant_data.transaction_type!='verify_auth_3d']

relevant_data = relevant_data[relevant_data.rebill!='true']

relevant_data = relevant_data.drop_duplicates(keep='last')

In [12]:
# i want to aggregate using max so i make it a float
relevant_data.scenario_id = relevant_data.scenario_id.astype(float)
relevant_data.data_only_authentication_result = relevant_data.data_only_authentication_result.astype(float)

# filter to multis with enabled DOA cascading
selected_multi_clients = relevant_data.loc[relevant_data['scenario_id'].isin([12, 13]), 'multi_client_name'].unique()
relevant_data = relevant_data[relevant_data.multi_client_name.isin(selected_multi_clients)]

In [13]:
#i want the pivot to keep the null values
relevant_data.issuer_bank_name = relevant_data.issuer_bank_name.fillna('None')

# we only need the sale and auth rows
relevant_data = relevant_data[relevant_data.transaction_type.isin(['auth','sale'])]

In [14]:
# agg the data to 1 row per tm_id
agg_df = relevant_data.groupby(['tm_id'
                       ,'multi_client_name','industry_code','issuer_bank_name','source_application','mc_scheme_token_used'#,'transaction_date_short'
                      ]).agg({
    'amount_in_usd': ['max'],
    'approved_amount_in_usd_fixed': ['max'],
    'approved_authorization_in_usd': ['max'],
    'data_only_authentication_result':['max'],
    'scenario_id':['max']
})

agg_df.columns = ['amount_in_usd', 'approved_amount_in_usd','approved_authorization_in_usd','data_only_auth_result','scenario_id']

# filter out transaction that are in other cascadings:
agg_df = agg_df.reset_index()

agg_df_doa = agg_df[(agg_df.scenario_id.isin([12,13]))|(agg_df.scenario_id.isna())]

In [15]:
#i want the pivot to present the null values
agg_df_doa.data_only_auth_result = agg_df_doa.data_only_auth_result.astype("str")
agg_df_doa.scenario_id = agg_df_doa.scenario_id.astype("str")

# rename col values so the tables will be more indicative:
agg_df_doa['data_only_auth_result'] = agg_df_doa['data_only_auth_result'].str.replace('0.0', 'failed')
agg_df_doa['data_only_auth_result'] = agg_df_doa['data_only_auth_result'].str.replace('1.0', 'succeeded')
agg_df_doa['data_only_auth_result'] = agg_df_doa['data_only_auth_result'].str.replace('nan', 'was_not_sent')

# renamne the col values
agg_df_doa['data_only_auth_result'] = np.where(((agg_df_doa['data_only_auth_result']=='was_not_sent')&(agg_df_doa['scenario_id']!='nan')),'succeeded',agg_df_doa['data_only_auth_result'])

# rename the cols
agg_df_doa.rename(columns={'scenario_id': 'was_cascaded'}, inplace=True)
agg_df_doa.rename(columns={'data_only_auth_result': 'data_only_authentication_status'}, inplace=True)

# make the was cascaded bool
agg_df_doa['was_cascaded'] = np.where(agg_df_doa['was_cascaded'].isin(['12.0','13.0']), True,False)

/tmp/ipykernel_41982/349587693.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agg_df_doa.data_only_auth_result = agg_df_doa.data_only_auth_result.astype("str")
/tmp/ipykernel_41982/349587693.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agg_df_doa.scenario_id = agg_df_doa.scenario_id.astype("str")
/tmp/ipykernel_41982/349587693.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agg_df_doa['data_only_auth_result'] = agg_df_doa['data_only_auth_result'].str.replace('0.0', 'failed')
/tmp/ipykernel_41982/349587693.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agg_df_doa['data_only_auth_result'] = agg_df_doa['data_only_auth_result'].str.replace('1.0', 'succeeded')
/tmp/ipykernel_41982/349587693.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agg_df_doa['data_only_auth_result'] = agg_df_doa['data_only_auth_result'].str.replace('nan', 'was_not_sent')
/tmp/ipykernel_41982/349587693.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agg_df_doa['data_only_auth_result'] = np.where(((agg_df_doa['data_only_auth_result']=='was_not_sent')&(agg_df_doa['scenario_id']!='nan')),'succeeded',agg_df_doa['data_only_auth_result'])
/tmp/ipykernel_41982/349587693.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agg_df_doa.rename(columns={'scenario_id': 'was_cascaded'}, inplace=True)
/tmp/ipykernel_41982/349587693.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agg_df_doa.rename(columns={'data_only_auth_result': 'data_only_authentication_status'}, inplace=True)
/tmp/ipykernel_41982/349587693.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agg_df_doa['was_cascaded'] = np.where(agg_df_doa['was_cascaded'].isin(['12.0','13.0']), True,False)

In [16]:
# summary_pivot
summary_pivot = agg_df_doa.pivot_table(index = ['data_only_authentication_status','mc_scheme_token_used'], #,'was_cascaded'
                         values = ['amount_in_usd', 'approved_authorization_in_usd'], aggfunc = ('count','sum'))
summary_pivot['approval_rate_#'] = summary_pivot['approved_authorization_in_usd']['count'] / summary_pivot['amount_in_usd']['count']
summary_pivot['approval_rate_$'] = summary_pivot['approved_authorization_in_usd']['sum'] / summary_pivot['amount_in_usd']['sum']
#.sort_values(by = 'success_rate_#', ascending = False)

summary_pivot.columns = ['_'.join(map(str, col)) for col in summary_pivot.columns]

summary_pivot.rename(columns={'amount_in_usd_count': 'all_txn_count(#)',
                             'amount_in_usd_sum': 'all_txn_sum($)',
                             'approved_amount_in_usd_count': 'approved_txn_count(#)',
                             'approved_amount_in_usd_sum': 'approved_txn_sum($)',
                             'approval_rate_#_': 'approval_rate_by_count(#)',
                             'approval_rate_$_': 'approval_rate_by_sum($)'}, inplace=True)

summary_pivot.applymap('{:,.2f}'.format)

/tmp/ipykernel_41982/4214056997.py:17: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  summary_pivot.applymap('{:,.2f}'.format)

                                                     all_txn_count(#)  \
data_only_authentication_status mc_scheme_token_used
failed                          false                       42,231.00
                                true                         6,744.00
succeeded                       false                    1,707,282.00
                                true                     1,216,059.00
was_not_sent                    false                      501,296.00
                                true                        81,728.00

                                                     all_txn_sum($)  \
data_only_authentication_status mc_scheme_token_used
failed                          false                    963,409.51
                                true                     165,280.36
succeeded                       false                 40,434,595.94
                                true                  35,391,264.24
was_not_sent                    false                 46,909,001.05
                                true                   2,519,293.35

                                                     approved_authorization_in_usd_count  \
data_only_authentication_status mc_scheme_token_used
failed                          false                                          38,676.00
                                true                                            6,125.00
succeeded                       false                                       1,518,023.00
                                true                                        1,140,279.00
was_not_sent                    false                                         428,630.00
                                true                                           75,971.00

                                                     approved_authorization_in_usd_sum  \
data_only_authentication_status mc_scheme_token_used
failed                          false                                       873,619.79
                                true                                        147,910.31
succeeded                       false                                    35,600,692.69
                                true                                     32,949,731.62
was_not_sent                    false                                    33,490,485.89
                                true                                      2,307,059.80

                                                     approval_rate_by_count(#)  \
data_only_authentication_status mc_scheme_token_used
failed                          false                                     0.92
                                true                                      0.91
succeeded                       false                                     0.89
                                true                                      0.94
was_not_sent                    false                                     0.86
                                true                                      0.93

                                                     approval_rate_by_sum($)
data_only_authentication_status mc_scheme_token_used
failed                          false                                   0.91
                                true                                    0.89
succeeded                       false                                   0.88
                                true                                    0.93
was_not_sent                    false                                   0.71
                                true                                    0.92

In [17]:
# filter only to successful doa
doa_only = agg_df_doa[agg_df_doa.data_only_authentication_status=='succeeded']

# make columns for the txns possible paths:
doa_only['auth_success_1st'] = np.where((doa_only.approved_authorization_in_usd.notna())&
                                    (doa_only.was_cascaded==False),doa_only.amount_in_usd,np.nan)

doa_only['failed_1st'] = np.where(doa_only['auth_success_1st'].isna(),doa_only.amount_in_usd,np.nan)

doa_only['reached_cascading'] = np.where(doa_only.was_cascaded==True,doa_only.amount_in_usd,np.nan)

doa_only['success_2nd'] = np.where((doa_only.approved_authorization_in_usd.notna())&
                                    (doa_only.was_cascaded==True),doa_only.amount_in_usd,np.nan)

doa_only['success_2nd2'] = doa_only['success_2nd']

# pivot the paths: note that because i use 'margins' i need to wite the aggfunc to each col seperately
doa_pivot = doa_only.pivot_table(index = ['multi_client_name'],
                         values = ['amount_in_usd', 'auth_success_1st','failed_1st','reached_cascading','success_2nd','success_2nd2'],
                                 aggfunc = {'amount_in_usd':'count',
                                             'auth_success_1st':'count',
                                             'failed_1st':'count',
                                            'reached_cascading':'count',
                                             'success_2nd':'count',
                                            'success_2nd2': 'sum'
                                            },
                                 margins = True,margins_name = 'Totals',dropna=False)
doa_pivot['recovery_rate_#'] = doa_pivot['success_2nd']/ doa_pivot['reached_cascading']


doa_pivot.rename(columns={'amount_in_usd': 'all_txn_count(#)',
                             'failed_1st': 'failed_1st_authorization(#)',
                             'auth_success_1st': 'succeeded_1st_authorization(#)',
                            'reached_cascading':'reached_cascading(#)',
                             'success_2nd': 'succeeded_2nd_authorization(#)',
                          'success_2nd2': 'succeeded_2nd_authorization($)',
                             'recovery_rate_#': 'recovery_rate(#)',
                             }, inplace=True)

doa_pivot.sort_values(by = 'all_txn_count(#)', ascending = False).applymap('{:,.2f}'.format)

/tmp/ipykernel_41982/1487440174.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  doa_only['auth_success_1st'] = np.where((doa_only.approved_authorization_in_usd.notna())&
/tmp/ipykernel_41982/1487440174.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  doa_only['failed_1st'] = np.where(doa_only['auth_success_1st'].isna(),doa_only.amount_in_usd,np.nan)
/tmp/ipykernel_41982/1487440174.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  doa_only['reached_cascading'] = np.where(doa_only.was_cascaded==True,doa_only.amount_in_usd,np.nan)
/tmp/ipykernel_41982/1487440174.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  doa_only['success_2nd'] = np.where((doa_only.approved_authorization_in_usd.notna())&
/tmp/ipykernel_41982/1487440174.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  doa_only['success_2nd2'] = doa_only['success_2nd']
/tmp/ipykernel_41982/1487440174.py:40: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  doa_pivot.sort_values(by = 'all_txn_count(#)', ascending = False).applymap('{:,.2f}'.format)

,all_txn_count(#),succeeded_1st_authorization(#),failed_1st_authorization(#),reached_cascading(#),succeeded_2nd_authorization(#),succeeded_2nd_authorization($),recovery_rate(#)
multi_client_name,,,,,,,
Totals,"2,923,341.00","2,638,122.00","285,219.00","121,568.00","20,180.00","504,506.00",0.17
superbet romania (superbet group) multi,"863,146.00","767,610.00","95,536.00","52,198.00","10,120.00","202,900.38",0.19
sks365 malta ltd multi,"584,544.00","544,334.00","40,210.00","7,932.00","1,127.00","47,064.23",0.14
kaizen gaming international romania (kzn) multi,"295,130.00","261,516.00","33,614.00","16,221.00","2,411.00","57,620.41",0.15
888virtual marketing services italia ltd multi,"281,325.00","254,381.00","26,944.00","11,115.00","2,139.00","98,021.69",0.19
hattrick - casapariurilor (ftn) multi,"147,623.00","128,366.00","19,257.00","7,439.00",956.00,"27,389.63",0.13
superbet poland (superbet group) multi,"101,657.00","95,661.00","5,996.00","2,620.00",61.00,520.12,0.02
s.c. bet zone (ftn) multi,"93,218.00","80,611.00","12,607.00","5,042.00","1,048.00","18,294.30",0.21
virgin bet ltd multi,"79,239.00","75,614.00","3,625.00",866.00,43.00,"1,915.53",0.05
crowd entertainment limited multi,"60,449.00","53,497.00","6,952.00","1,696.00",5.00,57.93,0.00
kwiff - eaton gate gaming limited multi,"58,693.00","56,253.00","2,440.00",822.00,38.00,"1,770.42",0.05
brobet bulgaria multi,"52,705.00","46,343.00","6,362.00",944.00,13.00,301.26,0.01
hattrick (ftn) multi,"51,373.00","46,846.00","4,527.00","1,753.00",16.00,358.18,0.01
ag communications limited multi,"48,137.00","43,361.00","4,776.00","1,311.00",67.00,"3,232.81",0.05
megabet international srl multi,"43,013.00","39,509.00","3,504.00","1,927.00",285.00,"5,993.86",0.15
rank digital ceuta s.a. multi,"38,356.00","33,904.00","4,452.00","2,076.00",242.00,"3,583.82",0.12
netbet multi,"33,734.00","31,398.00","2,336.00","1,124.00",103.00,"8,057.36",0.09
merkurxtip as multi,"31,944.00","28,779.00","3,165.00","1,572.00",8.00,92.79,0.01
bpg s.r.l multi,"10,562.00","9,791.00",771.00,201.00,21.00,"1,080.75",0.10
tangome cyprus limited multi,"10,025.00","7,958.00","2,067.00",937.00,146.00,"4,523.26",0.16
g5 entertainment ab multi,"9,619.00","8,231.00","1,388.00","1,137.00",715.00,"6,421.95",0.63
boss online s.r.l. multi,"8,365.00","7,484.00",881.00,266.00,9.00,219.75,0.03
vincitu srl multi,"6,399.00","5,222.00","1,177.00",497.00,90.00,490.76,0.18
888 vgdsl limited multi,"4,860.00","4,767.00",93.00,15.00,0.00,0.00,0.00
sa derby (en) multi,"2,619.00","1,666.00",953.00,813.00,424.00,"11,402.82",0.52
ready2wash s.r.o multi,"1,580.00","1,421.00",159.00,114.00,19.00,285.45,0.17
betflag s.p.a. multi,"1,485.00",940.00,545.00,433.00,2.00,23.98,0.00
arzella limited multi,"1,051.00",881.00,170.00,98.00,48.00,733.54,0.49
holland casino n.v. multi,716.00,686.00,30.00,15.00,2.00,54.43,0.13
sisal entertainment multi,451.00,388.00,63.00,1.00,0.00,0.00,0.00
kryptonim sp. z o.o multi,325.00,209.00,116.00,102.00,0.00,0.00,0.00
plus500 (5) multi,285.00,167.00,118.00,50.00,0.00,0.00,0.00
lastminute.com - bravonext sa multi,179.00,15.00,164.00,53.00,1.00,82.21,0.02
virgin atlantic holidays multi,169.00,165.00,4.00,4.00,0.00,0.00,0.00
moon pay technology services limited multi,145.00,17.00,128.00,121.00,8.00,789.34,0.07
fashion choice pte. ltd. multi,114.00,75.00,39.00,28.00,4.00,309.36,0.14
chicv uk limited multi,27.00,23.00,4.00,4.00,1.00,143.15,0.25
lastminute.com - rumbo sa multi,25.00,4.00,21.00,5.00,1.00,151.06,0.20
quality customer care solutions srl multi,15.00,13.00,2.00,1.00,0.00,0.00,0.00
air baltic corporation as multi,14.00,6.00,8.00,1.00,1.00,480.26,1.00
gaijin network ltd multi,12.00,9.00,3.00,2.00,0.00,0.00,0.00
cashpoint malta denmark multi,12.00,1.00,11.00,11.00,6.00,139.21,0.55
moneyamber uab multi,1.00,0.00,1.00,1.00,0.00,0.00,0.00

In [18]:
# count txn per multi to calculate the share% later
multis_pivot_agg = agg_df_doa.pivot_table(index = ['multi_client_name'],
                         values = ['amount_in_usd'], aggfunc = ('count'))


multis_pivot_agg.rename(columns={'amount_in_usd': 'all_txn_count_per_multi(#)' }, inplace=True)

# multis pivot:
multis_pivot = agg_df_doa.pivot_table(index = ['multi_client_name', 'data_only_authentication_status', 'was_cascaded'],
values = ['amount_in_usd', 'approved_authorization_in_usd'], aggfunc = ('count','sum'))

multis_pivot['approval_rate_#'] = multis_pivot['approved_authorization_in_usd']['count'] / multis_pivot['amount_in_usd']['count']
multis_pivot['approval_rate_$'] = multis_pivot['approved_authorization_in_usd']['sum'] / multis_pivot['amount_in_usd']['sum']

multis_pivot.columns = ['_'.join(map(str, col)) for col in multis_pivot.columns]


multis_pivot.rename(columns={'amount_in_usd_count': 'all_txn_count(#)',
                             'amount_in_usd_sum': 'all_txn_sum($)',
                             'approved_amount_in_usd_count': 'approved_txn_count(#)',
                             'approved_amount_in_usd_sum': 'approved_txn_sum($)',
                             'approval_rate_#_': 'approval_rate_by_count(#)',
                             'approval_rate_$_': 'approval_rate_by_sum($)'}, inplace=True)

multis_pivot = multis_pivot.reset_index()

# merge the tables (for the share%):
all_multis = pd.merge(multis_pivot,multis_pivot_agg, how = 'left', left_on = 'multi_client_name',
                               right_on = 'multi_client_name')
# add share%
all_multis['share_out_of_total_txn_per_multi(#)'] = all_multis['all_txn_count(#)']/all_multis['all_txn_count_per_multi(#)']
all_multis.drop(columns=['all_txn_count_per_multi(#)'])

,multi_client_name,data_only_authentication_status,was_cascaded,all_txn_count(#),all_txn_sum($),approved_authorization_in_usd_count,approved_authorization_in_usd_sum,approval_rate_by_count(#),approval_rate_by_sum($),share_out_of_total_txn_per_multi(#)
0,888 vgdsl limited multi,failed,False,1,25.46,1,25.46,1.000000,1.000000,0.000206
1,888 vgdsl limited multi,succeeded,False,4845,282044.18,4767,277374.58,0.983901,0.983444,0.996708
2,888 vgdsl limited multi,succeeded,True,15,728.04,0,0.00,0.000000,0.000000,0.003086
3,888virtual marketing services italia ltd multi,failed,False,159,2639.96,146,2443.44,0.918239,0.925559,0.000565
4,888virtual marketing services italia ltd multi,succeeded,False,270210,10035348.84,254381,9404054.92,0.941420,0.937093,0.959924
5,888virtual marketing services italia ltd multi,succeeded,True,11115,496718.39,2139,98021.69,0.192443,0.197339,0.039486
6,888virtual marketing services italia ltd multi,was_not_sent,False,7,476.05,0,0.00,0.000000,0.000000,0.000025
7,ag communications limited multi,failed,False,7,468.79,6,455.69,0.857143,0.972056,0.000134
8,ag communications limited multi,succeeded,False,46826,1940089.01,43361,1807551.45,0.926003,0.931685,0.895677
9,ag communications limited multi,succeeded,True,1311,52027.69,67,3232.81,0.051106,0.062136,0.025077
10,ag communications limited multi,was_not_sent,False,4136,446495.20,2977,379656.18,0.719778,0.850303,0.079112
11,air baltic corporation as multi,succeeded,False,13,3952.21,6,1300.82,0.461538,0.329137,0.928571
12,air baltic corporation as multi,succeeded,True,1,480.26,1,480.26,1.000000,1.000000,0.071429
13,arzella limited multi,succeeded,False,953,14492.07,881,13499.89,0.924449,0.931536,0.471549
14,arzella limited multi,succeeded,True,98,1488.65,48,733.54,0.489796,0.492755,0.048491
15,arzella limited multi,was_not_sent,False,970,94079.26,816,75172.65,0.841237,0.799035,0.479960
16,betflag s.p.a. multi,failed,False,2,93.46,2,93.46,1.000000,1.000000,0.001300
17,betflag s.p.a. multi,succeeded,False,1052,43261.29,940,36346.05,0.893536,0.840152,0.684005
18,betflag s.p.a. multi,succeeded,True,433,29359.74,2,23.98,0.004619,0.000817,0.281534
19,betflag s.p.a. multi,was_not_sent,False,51,2401.42,0,0.00,0.000000,0.000000,0.033160
20,boss online s.r.l. multi,failed,False,83,3777.29,67,3406.77,0.807229,0.901909,0.006277
21,boss online s.r.l. multi,succeeded,False,8099,262931.56,7484,245536.23,0.924065,0.933841,0.612493
22,boss online s.r.l. multi,succeeded,True,266,9975.28,9,219.75,0.033835,0.022029,0.020116
23,boss online s.r.l. multi,was_not_sent,False,4775,179839.64,4113,157897.35,0.861361,0.877990,0.361113
24,bpg s.r.l multi,succeeded,False,10361,421578.18,9791,396450.09,0.944986,0.940395,0.952911
25,bpg s.r.l multi,succeeded,True,201,11518.59,21,1080.75,0.104478,0.093827,0.018486
26,bpg s.r.l multi,was_not_sent,False,311,12341.05,150,5004.87,0.482315,0.405547,0.028603
27,brobet bulgaria multi,failed,False,804,31637.88,636,27772.20,0.791045,0.877815,0.004744
28,brobet bulgaria multi,succeeded,False,51761,1531271.46,46343,1410110.06,0.895327,0.920875,0.305394
29,brobet bulgaria multi,succeeded,True,944,31354.82,13,301.26,0.013771,0.009608,0.005570
30,brobet bulgaria multi,was_not_sent,False,115980,2978813.72,105012,2761842.28,0.905432,0.927162,0.684292
31,cashpoint malta denmark multi,succeeded,False,1,14.67,1,14.67,1.000000,1.000000,0.083333
32,cashpoint malta denmark multi,succeeded,True,11,241.69,6,139.21,0.545455,0.575986,0.916667
33,chicv uk limited multi,succeeded,False,23,1114.49,23,1114.49,1.000000,1.000000,0.851852
34,chicv uk limited multi,succeeded,True,4,333.96,1,143.15,0.250000,0.428644,0.148148
35,crowd entertainment limited multi,failed,False,627,11467.10,588,10762.15,0.937799,0.938524,0.010219
36,crowd entertainment limited multi,succeeded,False,58753,1182102.61,53497,1099209.07,0.910541,0.929876,0.957529
37,crowd entertainment limited multi,succeeded,True,1696,33979.85,5,57.93,0.002948,0.001705,0.027641
38,crowd entertainment limited multi,was_not_sent,False,283,5302.59,0,0.00,0.000000,0.000000,0.004612
39,fashion choice pte. ltd. multi,failed,False,5,93.73,5,93.73,1.000000,1.000000,0.005208
40,fashion choice pte. ltd. multi,succeeded,False,86,6275.31,75,5026.26,0.872093,0.800958,0.089583
41,fashion choice pte. ltd. multi,succeeded,True,28,1842.99,4,309.36,0.142857,0.167858,0.029167
42,fashion choice pte. ltd. multi,was_not_sent,False,841,106596.90,685,87239.58,0.814507,0.818406,0.876042
43,g5 entertainment ab multi,failed,False,6,47.08,6,47.08,1.000000,1.000000,0.000594
44,g5 entertainment ab multi,succeeded,False,8482,71520.94,8231,70057.39,0.970408,0.979537,0.840052
45,g5 entertainment ab multi,succeeded,True,1137,10199.77,715,6421.95,0.628848,0.629617,0.112608
46,g5 entertainment ab multi,was_not_sent,False,472,3174.65,198,1367.34,0.419492,0.430706,0.046747
47,gaijin network ltd multi,succeeded,False,10,288.44,9,231.47,0.900000,0.802489,0.555556
48,gaijin network ltd multi,succeeded,True,2,41.12,0,0.00,0.000000,0.000000,0.111111
49,gaijin network ltd multi,was_not_sent,False,6,218.39,0,0.00,0.000000,0.000000,0.333333
50,hattrick (ftn) multi,failed,False,21,192.15,20,170.25,0.952381,0.886027,0.000395
51,hattrick (ftn) multi,succeeded,False,49620,1045246.50,46846,993846.78,0.944095,0.950825,0.933128
52,hattrick (ftn) multi,succeeded,True,1753,34846.73,16,358.18,0.009127,0.010279,0.032966
53,hattrick (ftn) multi,was_not_sent,False,1782,48121.89,1050,36339.74,0.589226,0.755160,0.033511
54,hattrick - casapariurilor (ftn) multi,failed,False,2400,46395.24,2196,42681.07,0.915000,0.919945,0.014436
55,hattrick - casapariurilor (ftn) multi,succeeded,False,140184,3099551.96,128366,2878335.14,0.915697,0.928629,0.843212
56,hattrick - casapariurilor (ftn) multi,succeeded,True,7439,177302.55,956,27389.63,0.128512,0.154480,0.044746
57,hattrick - casapariurilor (ftn) multi,was_not_sent,False,16227,506181.77,12800,402618.61,0.788809,0.795403,0.097606
58,holland casino n.v. multi,succeeded,False,701,13241.21,686,13015.74,0.978602,0.982972,0.242309
59,holland casino n.v. multi,succeeded,True,15,308.43,2,54.43,0.133333,0.176474,0.005185
60,holland casino n.v. multi,was_not_sent,False,2177,41623.78,2031,38555.57,0.932935,0.926287,0.752506
61,kaizen gaming international romania (kzn) multi,failed,False,29,996.40,25,807.06,0.862069,0.809976,0.000097
62,kaizen gaming international romania (kzn) multi,succeeded,False,278909,6989750.45,261516,6519903.09,0.937639,0.932781,0.936728
63,kaizen gaming international romania (kzn) multi,succeeded,True,16221,460639.65,2411,57620.41,0.148634,0.125088,0.054479
64,kaizen gaming international romania (kzn) multi,was_not_sent,False,2589,42703.50,0,0.00,0.000000,0.000000,0.008695
65,kryptonim sp. z o.o multi,failed,False,38,5696.63,12,314.06,0.315789,0.055131,0.104683
66,kryptonim sp. z o.o multi,succeeded,False,223,10018.46,209,9346.24,0.937220,0.932902,0.614325
67,kryptonim sp. z o.o multi,succeeded,True,102,11248.18,0,0.00,0.000000,0.000000,0.280992
68,kwiff - eaton gate gaming limited multi,failed,False,7,718.36,6,693.00,0.857143,0.964697,0.000119
69,kwiff - eaton gate gaming limited multi,succeeded,False,57871,2668861.94,56253,2590276.45,0.972041,0.970555,0.982046
70,kwiff - eaton gate gaming limited multi,succeeded,True,822,40453.31,38,1770.42,0.046229,0.043765,0.013949
71,kwiff - eaton gate gaming limited multi,was_not_sent,False,229,7577.84,3,88.74,0.013100,0.011710,0.003886
72,lastminute.com - bravonext sa multi,succeeded,False,126,136843.37,15,13608.52,0.119048,0.099446,0.010676
73,lastminute.com - bravonext sa multi,succeeded,True,53,75867.15,1,82.21,0.018868,0.001084,0.004491
74,lastminute.com - bravonext sa multi,was_not_sent,False,11623,11558427.11,8946,7220669.54,0.769681,0.624710,0.984833
75,lastminute.com - rumbo sa multi,succeeded,False,20,45056.18,4,4945.87,0.200000,0.109771,0.012453
76,lastminute.com - rumbo sa multi,succeeded,True,5,3425.95,1,151.06,0.200000,0.044093,0.003113
77,lastminute.com - rumbo sa multi,was_not_sent,False,1581,1418850.92,1150,769336.33,0.727388,0.542225,0.984433
78,megabet international srl multi,failed,False,1129,54432.56,1086,51534.98,0.961913,0.946768,0.023078
79,megabet international srl multi,succeeded,False,41086,1057349.98,39509,1017625.86,0.961617,0.962430,0.839844
80,megabet international srl multi,succeeded,True,1927,51220.30,285,5891.64,0.147898,0.115025,0.039390
81,megabet international srl multi,was_not_sent,False,4779,146518.19,4074,124207.80,0.852480,0.847730,0.097688
82,merkurxtip as multi,failed,False,2,35.19,1,13.17,0.500000,0.374254,0.000062
83,merkurxtip as multi,succeeded,False,30372,348216.66,28779,333790.23,0.947550,0.958571,0.940310
84,merkurxtip as multi,succeeded,True,1572,16185.95,8,92.79,0.005089,0.005733,0.048669
85,merkurxtip as multi,was_not_sent,False,354,4348.17,0,0.00,0.000000,0.000000,0.010960
86,moneyamber uab multi,succeeded,True,1,81.71,0,0.00,0.000000,0.000000,1.000000
87,moon pay technology services limited multi,succeeded,False,24,2390.04,17,1265.96,0.708333,0.529682,0.000408
88,moon pay technology services limited multi,succeeded,True,121,1931.53,8,789.34,0.066116,0.408660,0.002058
89,moon pay technology services limited multi,was_not_sent,False,58653,13547793.73,43051,7883332.61,0.733995,0.581891,0.997534
90,netbet multi,failed,False,1284,32294.59,1221,30776.46,0.950935,0.952991,0.035265
91,netbet multi,succeeded,False,32610,997178.36,31398,957724.87,0.962833,0.960435,0.895633
92,netbet multi,succeeded,True,1124,39767.17,103,8057.36,0.091637,0.202613,0.030871
93,netbet multi,was_not_sent,False,1392,23553.08,0,0.00,0.000000,0.000000,0.038231
94,plus500 (5) multi,succeeded,False,235,317160.81,167,227578.84,0.710638,0.717550,0.392321
95,plus500 (5) multi,succeeded,True,50,15212.90,0,0.00,0.000000,0.000000,0.083472
96,plus500 (5) multi,was_not_sent,False,314,157016.70,227,120725.63,0.722930,0.768871,0.524207
97,quality customer care solutions srl multi,failed,False,1,10.95,1,10.95,1.000000,1.000000,0.047619
98,quality customer care solutions srl multi,succeeded,False,14,610.12,13,605.27,0.928571,0.992051,0.666667
99,quality customer care solutions srl multi,succeeded,True,1,17.66,0,0.00,0.000000,0.000000,0.047619
100,quality customer care solutions srl multi,was_not_sent,False,5,113.72,0,0.00,0.000000,0.000000,0.238095
101,rank digital ceuta s.a. multi,failed,False,5584,107437.98,4937,95391.81,0.884133,0.887878,0.110450
102,rank digital ceuta s.a. multi,succeeded,False,36280,576774.24,33904,543955.92,0.934509,0.943100,0.717606
103,rank digital ceuta s.a. multi,succeeded,True,2076,32202.50,242,3583.82,0.116570,0.111290,0.041063
104,rank digital ceuta s.a. multi,was_not_sent,False,6617,294411.17,5407,247268.75,0.817138,0.839876,0.130882
105,ready2wash s.r.o multi,failed,False,1,8.77,0,0.00,0.000000,0.000000,0.000313
106,ready2wash s.r.o multi,succeeded,False,1466,17267.89,1421,16735.25,0.969304,0.969154,0.458268
107,ready2wash s.r.o multi,succeeded,True,114,1443.10,19,285.45,0.166667,0.197803,0.035636
108,ready2wash s.r.o multi,was_not_sent,False,1618,17792.14,1561,17355.50,0.964771,0.975459,0.505783
109,s.c. bet zone (ftn) multi,failed,False,3409,90330.86,3139,84543.07,0.920798,0.935927,0.032167
110,s.c. bet zone (ftn) multi,succeeded,False,88176,1781507.91,80611,1650568.34,0.914206,0.926501,0.832022
111,s.c. bet zone (ftn) multi,succeeded,True,5042,100934.81,1048,18294.30,0.207854,0.181249,0.047576
112,s.c. bet zone (ftn) multi,was_not_sent,False,9351,274199.72,7038,206870.74,0.752647,0.754453,0.088235
113,sa derby (en) multi,succeeded,False,1806,72718.74,1666,68047.80,0.922481,0.935767,0.681509
114,sa derby (en) multi,succeeded,True,813,26292.07,424,11402.82,0.521525,0.433698,0.306792
115,sa derby (en) multi,was_not_sent,False,31,1198.09,0,0.00,0.000000,0.000000,0.011698
116,sisal entertainment multi,succeeded,False,450,14238.16,388,10424.45,0.862222,0.732149,0.831793
117,sisal entertainment multi,succeeded,True,1,10.90,0,0.00,0.000000,0.000000,0.001848
118,sisal entertainment multi,was_not_sent,False,90,3407.24,0,0.00,0.000000,0.000000,0.166359
119,sks365 malta ltd multi,failed,False,74,1374.83,72,1358.46,0.972973,0.988093,0.000119
120,sks365 malta ltd multi,succeeded,False,576612,15624817.51,544334,14631177.61,0.944021,0.936406,0.925171
121,sks365 malta ltd multi,succeeded,True,7932,258676.80,1127,47064.23,0.142083,0.181942,0.012727
122,sks365 malta ltd multi,was_not_sent,False,38631,1715898.62,28029,1133765.51,0.725557,0.660742,0.061983
123,superbet poland (superbet group) multi,failed,False,16,224.38,11,200.49,0.687500,0.893529,0.000068
124,superbet poland (superbet group) multi,succeeded,False,99037,1104172.92,95661,1069436.25,0.965912,0.968541,0.419737
125,superbet poland (superbet group) multi,succeeded,True,2620,40220.33,61,517.71,0.023282,0.012872,0.011104
126,superbet poland (superbet group) multi,was_not_sent,False,134277,1437363.47,129817,1346030.01,0.966785,0.936458,0.569091
127,superbet romania (superbet group) multi,failed,False,32878,728999.40,30258,659318.50,0.920311,0.904416,0.031181
128,superbet romania (superbet group) multi,succeeded,False,810948,18304311.05,767610,17373024.71,0.946559,0.949122,0.769082
129,superbet romania (superbet group) multi,succeeded,True,52198,1233459.67,10120,201220.01,0.193877,0.163135,0.049503
130,superbet romania (superbet group) multi,was_not_sent,False,158413,5149599.25,141695,4531099.45,0.894466,0.879894,0.150235
131,tangome cyprus limited multi,failed,False,11,126.55,9,114.20,0.818182,0.902410,0.001068
132,tangome cyprus limited multi,succeeded,False,9088,178869.73,7958,155971.18,0.875660,0.871982,0.882330
133,tangome cyprus limited multi,succeeded,True,937,22767.50,146,4523.26,0.155816,0.198672,0.090971
134,tangome cyprus limited multi,was_not_sent,False,264,10068.09,0,0.00,0.000000,0.000000,0.025631
135,vincitu srl multi,failed,False,1,5.45,1,5.45,1.000000,1.000000,0.000153
136,vincitu srl multi,succeeded,False,5902,32962.61,5222,28654.10,0.884785,0.869291,0.900244
137,vincitu srl multi,succeeded,True,497,2712.94,90,490.76,0.181087,0.180896,0.075808
138,vincitu srl multi,was_not_sent,False,156,936.61,0,0.00,0.000000,0.000000,0.023795
139,virgin atlantic holidays multi,failed,False,2,27.90,2,27.90,1.000000,1.000000,0.000480
140,virgin atlantic holidays multi,succeeded,False,165,2363.80,165,2363.80,1.000000,1.000000,0.039635
141,virgin atlantic holidays multi,succeeded,True,4,120.64,0,0.00,0.000000,0.000000,0.000961
142,virgin atlantic holidays multi,was_not_sent,False,3992,9187711.20,3771,8251100.91,0.944639,0.898058,0.958924
143,virgin bet ltd multi,failed,False,394,9130.93,347,8469.24,0.880711,0.927533,0.004945
144,virgin bet ltd multi,succeeded,False,78373,2234021.15,75614,2167597.60,0.964797,0.970267,0.983597
145,virgin bet ltd multi,succeeded,True,866,26431.90,43,1915.53,0.049654,0.072470,0.010868
146,virgin bet ltd multi,was_not_sent,False,47,3139.53,0,0.00,0.000000,0.000000,0.000590

In [19]:
source_application_pivot = agg_df_doa.pivot_table(index = ['source_application','data_only_authentication_status','was_cascaded'],
                         values = ['amount_in_usd', 'approved_authorization_in_usd'], aggfunc = ('count','sum'))
source_application_pivot['approval_rate_#'] = source_application_pivot['approved_authorization_in_usd']['count'] / source_application_pivot['amount_in_usd']['count']
source_application_pivot['approval_rate_$'] = source_application_pivot['approved_authorization_in_usd']['sum'] / source_application_pivot['amount_in_usd']['sum']

source_application_pivot.columns = ['_'.join(map(str, col)) for col in source_application_pivot.columns]


source_application_pivot.rename(columns={'amount_in_usd_count': 'all_txn_count(#)',
                             'amount_in_usd_sum': 'all_txn_sum($)',
                             'approved_amount_in_usd_count': 'approved_txn_count(#)',
                             'approved_amount_in_usd_sum': 'approved_txn_sum($)',
                             'approval_rate_#_': 'approval_rate_by_count(#)',
                             'approval_rate_$_': 'approval_rate_by_sum($)'}, inplace=True)

source_application_pivot[source_application_pivot['all_txn_count(#)']>500].applymap('{:,.2f}'.format)#.sort_values(by = 'approval_rate_#', ascending = False)

/tmp/ipykernel_41982/655588526.py:16: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  source_application_pivot[source_application_pivot['all_txn_count(#)']>500].applymap('{:,.2f}'.format)#.sort_values(by = 'approval_rate_#', ascending = False)

                                                                 all_txn_count(#)  \
source_application  data_only_authentication_status was_cascaded
direct cc           succeeded                       False              275,290.00
                                                    True                11,180.00
java  sdk           was_not_sent                    False               13,204.00
safecharge rest api failed                          False                1,376.00
                    succeeded                       False              368,882.00
                                                    True                19,945.00
                    was_not_sent                    False              105,266.00
web cashier         failed                          False               47,430.00
                    succeeded                       False            2,137,104.00
                                                    True                88,926.00
                    was_not_sent                    False              463,554.00
web sdk             succeeded                       False               11,160.00
                    was_not_sent                    False                  527.00
web sdk fields      succeeded                       False                9,168.00
                                                    True                 1,182.00

                                                                 all_txn_sum($)  \
source_application  data_only_authentication_status was_cascaded
direct cc           succeeded                       False         10,634,553.83
                                                    True             512,659.33
java  sdk           was_not_sent                    False         12,977,278.03
safecharge rest api failed                          False             39,704.59
                    succeeded                       False         10,141,424.75
                                                    True             591,823.02
                    was_not_sent                    False         24,934,367.13
web cashier         failed                          False          1,086,144.12
                    succeeded                       False         50,998,194.57
                                                    True           2,146,222.67
                    was_not_sent                    False         11,431,129.94
web sdk             succeeded                       False            431,094.97
                    was_not_sent                    False             13,835.71
web sdk fields      succeeded                       False             83,504.85
                                                    True              11,256.26

                                                                 approved_authorization_in_usd_count  \
source_application  data_only_authentication_status was_cascaded
direct cc           succeeded                       False                                 259,315.00
                                                    True                                    2,139.00
java  sdk           was_not_sent                    False                                  10,096.00
safecharge rest api failed                          False                                   1,280.00
                    succeeded                       False                                 345,578.00
                                                    True                                    2,787.00
                    was_not_sent                    False                                  80,155.00
web cashier         failed                          False                                  43,366.00
                    succeeded                       False                               2,013,732.00
                                                    True                                   14,495.00
                    was_not_sent                    False                                 413,856.00
web sdk             succeeded                       False                                  10,560.00
                    was_not_sent                    False                                     348.00
web sdk fields      succeeded                       False                                   8,895.00
                                                    True                                      728.00

                                                                 approved_authorization_in_usd_sum  \
source_application  data_only_authentication_status was_cascaded
direct cc           succeeded                       False                             9,909,008.34
                                                    True                                 98,021.69
java  sdk           was_not_sent                    False                             7,990,005.87
safecharge rest api failed                          False                                32,589.10
                    succeeded                       False                             9,472,650.26
                                                    True                                 75,266.08
                    was_not_sent                    False                            17,822,604.05
web cashier         failed                          False                               986,305.13
                    succeeded                       False                            48,161,551.68
                                                    True                                320,788.40
                    was_not_sent                    False                             9,927,991.69
web sdk             succeeded                       False                               405,614.14
                    was_not_sent                    False                                 6,372.21
web sdk fields      succeeded                       False                                79,210.01
                                                    True                                  7,100.61

                                                                 approval_rate_by_count(#)  \
source_application  data_only_authentication_status was_cascaded
direct cc           succeeded                       False                             0.94
                                                    True                              0.19
java  sdk           was_not_sent                    False                             0.76
safecharge rest api failed                          False                             0.93
                    succeeded                       False                             0.94
                                                    True                              0.14
                    was_not_sent                    False                             0.76
web cashier         failed                          False                             0.91
                    succeeded                       False                             0.94
                                                    True                              0.16
                    was_not_sent                    False                             0.89
web sdk             succeeded                       False                             0.95
                    was_not_sent                    False                             0.66
web sdk fields      succeeded                       False                             0.97
                                                    True                              0.62

                                                                 approval_rate_by_sum($)
source_application  data_only_authentication_status was_cascaded
direct cc           succeeded                       False                           0.93
                                                    True                            0.19
java  sdk           was_not_sent                    False                           0.62
safecharge rest api failed                          False                           0.82
                    succeeded                       False                           0.93
                                                    True                            0.13
                    was_not_sent                    False                           0.71
web cashier         failed                          False                           0.91
                    succeeded                       False                           0.94
                                                    True                            0.15
                    was_not_sent                    False                           0.87
web sdk             succeeded                       False                           0.94
                    was_not_sent                    False                           0.46
web sdk fields      succeeded                       False                           0.95
                                                    True                            0.63

In [20]:
issuers_pivot = agg_df_doa[agg_df_doa.issuer_bank_name!='None'].pivot_table(index = ['issuer_bank_name','data_only_authentication_status','was_cascaded'],
                         values = ['amount_in_usd', 'approved_authorization_in_usd'], aggfunc = ('count','sum'))
issuers_pivot['approval_rate_#'] = issuers_pivot['approved_authorization_in_usd']['count'] / issuers_pivot['amount_in_usd']['count']
issuers_pivot['approval_rate_$'] = issuers_pivot['approved_authorization_in_usd']['sum'] / issuers_pivot['amount_in_usd']['sum']

issuers_pivot.columns = ['_'.join(map(str, col)) for col in issuers_pivot.columns]


issuers_pivot.rename(columns={'amount_in_usd_count': 'all_txn_count(#)',
                             'amount_in_usd_sum': 'all_txn_sum($)',
                             'approved_amount_in_usd_count': 'approved_txn_count(#)',
                             'approved_amount_in_usd_sum': 'approved_txn_sum($)',
                             'approval_rate_#_': 'approval_rate_by_count(#)',
                             'approval_rate_$_': 'approval_rate_by_sum($)'}, inplace=True)

issuers_pivot #= issuers_pivot.reset_index()

                                                                             all_txn_count(#)  \
issuer_bank_name               data_only_authentication_status was_cascaded
365.bank, a. s.                succeeded                       False                       16
                               was_not_sent                    False                       51
a-tono payment institute spa   succeeded                       False                       30
                                                               True                         2
abn amro bank n.v              succeeded                       True                         4
                               was_not_sent                    False                      216
addiko bank d.d.               succeeded                       False                     6638
                                                               True                       254
                               was_not_sent                    False                       30
advanced payment solutions lim failed                          False                        1
                               succeeded                       False                     2478
                                                               True                        52
                               was_not_sent                    False                       41
advanzia bank s.a.             failed                          False                       20
                               succeeded                       False                     2470
                                                               True                        87
                               was_not_sent                    False                      560
aegon bank n.v.                was_not_sent                    False                       41
af payments ltd                succeeded                       True                         2
agos ducato spa                succeeded                       False                      731
                                                               True                       209
                               was_not_sent                    False                       13
aion s.a.                      succeeded                       False                       71
                                                               True                         4
                               was_not_sent                    False                       20
air bank a.s.                  failed                          False                        2
                               succeeded                       False                    12911
                                                               True                       357
                               was_not_sent                    False                      547
aircash d o o                  failed                          False                       18
                               succeeded                       False                     6847
                                                               True                       190
                               was_not_sent                    False                      109
aktia bank plc                 succeeded                       False                        8
                               was_not_sent                    False                       98
al rayan bank plc              succeeded                       False                       11
alandsbanken abp               succeeded                       True                         2
                               was_not_sent                    False                        8
alior bank spolka akcyjna      failed                          False                        3
                               succeeded                       False                    12804
                                                               True                       233
                               was_not_sent                    False                    12665
allianz bank bulgaria ad       failed                          False                       12
                               succeeded                       False                       10
                                                               True                         4
                               was_not_sent                    False                       15
allpay limited                 succeeded                       False                        2
alpha bank                     succeeded                       False                       99
                                                               True                         2
                               was_not_sent                    False                      147
alpha bank romania s.a.        failed                          False                       41
                               succeeded                       False                     1204
                                                               True                       123
                               was_not_sent                    False                       49
an post                        succeeded                       False                        7
                               was_not_sent                    False                       27
argenta spaarbank              succeeded                       True                        24
                               was_not_sent                    False                        8
as lhv pank                    succeeded                       False                       23
                                                               True                         1
                               was_not_sent                    False                      252
as seb pank                    succeeded                       False                       69
                               was_not_sent                    False                      215
avantcard limited              was_not_sent                    False                       25
banca march, s.a.              failed                          False                       19
                               succeeded                       False                      147
                                                               True                        15
                               was_not_sent                    False                       20
banca monte dei paschi di sien failed                          False                        1
                               succeeded                       False                     4868
                                                               True                       314
                               was_not_sent                    False                      125
banca nazionale del lavoro s.p failed                          False                        2
                               succeeded                       False                    10215
                                                               True                        81
                               was_not_sent                    False                     1331
banca popolare dell'alto adige succeeded                       False                      286
                                                               True                        74
                               was_not_sent                    False                        5
banca romana de credite si inv failed                          False                       10
                               succeeded                       False                      177
                                                               True                         4
banca sella spa                failed                          False                      115
                               succeeded                       False                    35417
                                                               True                       547
                               was_not_sent                    False                     2733
banca transilvania s.a.        failed                          False                     7280
                               succeeded                       False                   233871
                                                               True                      9120
                               was_not_sent                    False                    18042
banco bilbao vizcaya argentari failed                          False                       68
                               succeeded                       False                     4657
                                                               True                       370
                               was_not_sent                    False                      669
banco bpm societa per azioni   failed                          False                        2
                               succeeded                       False                    14870
                                                               True                       673
                               was_not_sent                    False                      622
banco cetelem s.a.             succeeded                       False                        2
                                                               True                        11
                               was_not_sent                    False                       66
banco comercial portugues s.a. succeeded                       False                       61
                                                               True                         6
                               was_not_sent                    False                       97
banco privado atlantico europa succeeded                       False                        4
banco sabadell s.a.            failed                          False                     1226
                               succeeded                       False                     6439
                                                               True                       262
                               was_not_sent                    False                     1635
banco santander s.a.           failed                          False                     1432
                               succeeded                       False                    10434
                                                               True                       156
                               was_not_sent                    False                     2789
banco santander totta s.a.     succeeded                       False                       40
                                                               True                         1
                               was_not_sent                    False                      140
bank handlowy w warszawie s.a. succeeded                       False                      144
                                                               True                         2
                               was_not_sent                    False                      590
bank millennium s.a.           succeeded                       False                      496
                                                               True                        59
                               was_not_sent                    False                      564
bank ochrony srodowiska s.a. ( succeeded                       False                      185
                                                               True                         7
bank of cyprus public company  succeeded                       False                        9
                               was_not_sent                    False                        9
bank of london and the middle  succeeded                       False                       10
                                                               True                        16
                               was_not_sent                    False                       13
bank of scotland plc           succeeded                       False                       62
                                                               True                         1
                               was_not_sent                    False                      413
bank pocztowy spolka akcyjna   succeeded                       False                      701
                                                               True                        12
                               was_not_sent                    False                      179
bank polska kasa opieki s.a. - failed                          False                        3
                               succeeded                       False                    16861
                                                               True                      1057
                               was_not_sent                    False                    33850
bank polskiej spoldzielczosci  succeeded                       False                     2279
                                                               True                        38
                               was_not_sent                    False                      675
banka creditas a.s.            succeeded                       False                       11
                                                               True                         1
                               was_not_sent                    False                       15
banka intesa sanpaolo d.d.     succeeded                       False                        3
banka sparkasse dd             succeeded                       False                       13
bankinter s.a.                 failed                          False                       38
                               succeeded                       False                      192
                                                               True                        24
                               was_not_sent                    False                       60
banque federative du credit mu failed                          False                        2
                               succeeded                       False                        5
                                                               True                       444
                               was_not_sent                    False                     3113
barclays bank plc.             succeeded                       False                        4
                                                               True                         2
                               was_not_sent                    False                       25
barclays bank uk plc           succeeded                       False                        4
                                                               True                         2
                               was_not_sent                    False                       59
bawag p.s.k. bank              succeeded                       False                      196
                                                               True                        47
                               was_not_sent                    False                      119
bcc pay spa                    failed                          False                        1
                               succeeded                       False                    15729
                                                               True                       439
                               was_not_sent                    False                      805
belfius bank n.v. / belfius ba succeeded                       False                        8
                                                               True                       642
                               was_not_sent                    False                      688
beobank nv/sa                  succeeded                       True                        40
                               was_not_sent                    False                       18
bgl bnp paribas s.a.           was_not_sent                    False                       11
bibanca s.p.a.                 failed                          False                        5
                               succeeded                       False                    17792
                                                               True                       312
                               was_not_sent                    False                      991
bilderlings pay limited        was_not_sent                    False                        2
bluor bank as                  succeeded                       False                        1
bnext electronic issuer, e.d.e failed                          False                       20
                               succeeded                       False                       77
                                                               True                         6
                               was_not_sent                    False                       63
bnp paribas                    failed                          False                       27
                               succeeded                       False                      373
                                                               True                        89
                               was_not_sent                    False                      856
bnp paribas bank polska s.a.   failed                          False                        3
                               succeeded                       False                    10127
                                                               True                       174
                               was_not_sent                    False                     7828
bnp paribas fortis             succeeded                       True                        77
                               was_not_sent                    False                       52
bnp paribas personal finance   failed                          False                        4
                               succeeded                       False                        5
                                                               True                        45
                               was_not_sent                    False                        5
bokis                          succeeded                       False                      345
                                                               True                       373
                               was_not_sent                    False                     1942
bpost s.a. de droit public - b succeeded                       False                      459
                                                               True                        17
                               was_not_sent                    False                        3
brd groupe societe generale    failed                          False                      630
                               succeeded                       False                    34216
                                                               True                      2302
                               was_not_sent                    False                    12789
bunq b.v.                      succeeded                       False                      711
                                                               True                        19

In [21]:
explainings_df =pd.DataFrame({'Explanation': ['this notebook presents a monthly data for data only authentication (check id insight) feature and cascading performance',
                                             'the data presented here was filtered to only multis with both check id insight and check id insight cascading utilized',
                                             'the data_only_authentication_status column indecates whether the transaction had the data only authentication or not (was_not_sent) and whether it was successfull (succeeded) or not (failed)',
                                              'when a transaction was cascaded, the approval rate column represents the recovery rate',
#                                               'There might be a configuration problem causing the low success rates of the "java sdk integration" and the "web sdk fields" that were not sent to data only authentication, since the failures are confined to only one multiclient: moneyamber uab multi and g5 entertainment ab multi respectively',
                                             '* a failure in data only authentication does not mean that the transaction was failed, it can continue to authorization']
                             })

In [22]:
explainings_df

                                         Explanation
0  this notebook presents a monthly data for data...
1  the data presented here was filtered to only m...
2  the data_only_authentication_status column ind...
3  when a transaction was cascaded, the approval ...
4  * a failure in data only authentication does n...

In [23]:
# Create an Excel writer object
writer = pd.ExcelWriter('jan_data_only_auth_report.xlsx', engine='xlsxwriter')

## export tables to excel:
explainings_df.to_excel(writer, sheet_name='explanations', index=False)
summary_pivot[summary_pivot['all_txn_count(#)']>50].to_excel(writer, sheet_name='summary')
doa_pivot.sort_values(by = 'all_txn_count(#)', ascending = False).to_excel(writer, sheet_name='cascading')
all_multis[all_multis['all_txn_count(#)']>50].to_excel(writer, sheet_name='multi-clients', index=False)
source_application_pivot[source_application_pivot['all_txn_count(#)']>500].to_excel(writer, sheet_name='source_application')
issuers_pivot[(issuers_pivot['all_txn_count(#)']>50)].to_excel(writer, sheet_name='issuers')

# Save the Excel file
writer.close()

In [ ]:
#######################